[2014-06-27 07:01] m90 opened #1 "npm installation fails using Git Bash on Windows 8"
Trying to install `husky` via `npm` using `Git Bash`:

[code]

fails.

[code]

The additional logging output is in German in my case, but roughly translates to:

[code]

[2014-06-27 16:04] #1 closed, assigned to nobody

[2014-07-02 09:39] branneman opened #6 "[Windows] npm: command not found"
I've run this to install husky:

[code]

I've added this in my package.json:

[code]

This is the contents of `test.js`:

[code]

And when I try to commit I get this error:

[code]

This is the PATH variable inside the file `.git/hooks/pre-commit`, that husky added:

[code]

And here are the paths as a list:
- `c:\Users\bvandermeer\.nodist\bin\node_modules\npm\bin\node-gyp-bin`
- `c:\Users\bvander

[2014-07-09 07:58] #6 closed, assigned to nobody

[2014-07-10 08:37] cztomsik opened #7 "override dir in package.json"
Some projects hold `package.json` in subdirectory rather than in root.

In such case, husky will report `can't find .git/hooks/`

This could be easily solved if husky was able to read `package.json` and look up for specific property like `gitDir` or so.

[2014-07-12 06:17] #7 closed, assigned to nobody

[2014-07-21 07:52] donaldpipowitch opened #9 "Which Git Hooks are supported?"
From reading the README I thought Husky would support all Git Hooks. So I tried `postmerge` but it seems, that it doesn't work. So I looked into `.git/hooks/` and if I read the source correctly Husky only supports `precommit` and `prepush`. Is this true? Will you add support for more hooks?

Use case: run `npm install` after every `postmerge`.

[2014-07-21 13:47] #9 closed, assigned to nobody

[2014-08-02 16:23] iamstarkov opened #10 "not working by pass parameter (-n) in prepush hook"
You can check it in by clone [`linting-test` branch in my webapp-base](https://github.com/matmuchrapna/webapp-base/tree/linting-test) repo. and trying to push some changes in it. I'm trying and `-n` parameter doesn't work

PS. thank you for such awesome project

[2014-08-11 18:46] #10 closed, assigned to nobody

[2014-08-19 08:57] avaly opened #11 "Create hooks directory if needed"
Using some git UI clients (like the Github Mac OS client) does not create the proper hooks directory in the `.git` folder.

`husky` should verify if that folder exists and create it if needed, otherwise it will fail on trying to install the hooks.

[2014-08-21 10:35] #11 closed, assigned to nobody

[2014-08-28 11:19] voxpelli opened #12 "Check if pushed branch is the checked out branch"
When pushing a branch it's not necessarily so that you have that branch checked out so eg. running some linting to check if the pushed code is okay will not be very accurate.

Would be nice with a simple check that matched the current checked out commit against the pushed commit and in the case of a mismatch aborted or warned about that mismatch.

Possible?

[2014-11-17 14:08] maxvipon opened #16 "Error: failed to push some refs to 'git@repo'"
[code]

[2014-12-03 14:23] #16 closed, assigned to nobody

[2015-02-27 17:00] conord33 commented on #7
I am running into the same issue as cztomsik.
The workaround above doesn't work because husky doesnt know where precommit is.  So it will never run the cd command to get to the correct directory.  The directory needs to be set before husky checks `npm run --json` for the hooks.

I can fix this manually by updating the husky hook scripts but it is obviously not ideal.

Would be cool if husky automa

[2015-03-04 22:09] typicode commented on #7
Just for the record, fixed in v0.7.0, thanks to @conord33 PR

[2015-05-15 13:40] wkwiatek opened #18 "git add could be invoked at the end of pre-commit for files added before"
Currently I have the case with [jsBeautify](https://github.com/beautify-web/js-beautify) which modifies some files during pre-commit. The problem is that after that modified files are not automatically added to commit so that I have to run `git add` again.

It would be perfect if files that were added to commit before hook could be added automatically again at the end of the pre-commit.

[2015-05-17 20:00] typicode commented on #18
What about something like this?

[code]

You may want to extract this to a script if it's too long. For example with a Node script, it could be:

[code]

[code]

[2015-05-17 21:26] wkwiatek commented on #18
I'm aware I can do it in my own script but for me it was kinda like expected behaviour after pre-commit script. I mean when one of files that were added and script makes change, it will be added again after pre-commit. I found it like nice-to-have general feature to your library.

[2015-05-18 22:30] kyriacos opened #19 "post-rewrite and pre-rebase hooks"
Hey! Thanks for building husky. It's a great idea :)

It would be great if those 2 hooks where added if possible. Can't fully switch to husky at the moment.

For now we are using a script to install the hooks. Just found husky and decided to give it a go.

Thanks

[2015-05-18 22:57] typicode commented on #19
Hey! Thanks :)

Sure. What would be the use case for `post-rewrite` and `pre-rebase` (it's for giving examples in the README).

[2015-05-19 17:11] kyriacos commented on #19
Thanks!

Well for both hooks and the `post-merge` we actually use it when the `package.json` file changes. We have a script that gets run on `post-merge`, `post-rewrite` and `pre-rebase` and if the `package.json` has changed then we just ask the user to run `npm install`

I would suggest not adding an example though, and just linking to the `git-scm` website.

Got this from https://git-scm.com/boo

[2015-05-19 23:22] typicode commented on #19
Added in `v0.8.1` ;)

[2015-05-20 15:15] typicode commented on #18
Sorry, I misunderstood what you meant.

Yes it would be a nice feature, but personally for this project I prefer to avoid "magical" features. What's happening during a `pre-commit` hook is only what's defined in the `precommit` script.

Thanks for the feature suggestion :)

[2015-05-20 17:08] kyriacos commented on #19
Thanks! :)

[2015-05-20 17:30] typicode commented on #19
You're welcome :)
Thanks for using the project.

[2015-05-20 17:30] #19 closed

[2015-05-21 17:47] wkwiatek commented on #18
That's fair enough :) I think that it closes the issue. Thanks for your reply!

[2015-05-21 23:08] typicode commented on #18
You're welcome :)

[2015-05-21 23:08] #18 closed

[2015-06-04 08:40] avaly opened #20 "0.8.1 breaks on a git submodule"
[code]

Where the project structure is:
- `/src/web-dev` - git repo with multiple git submodules
- `/src/web-dev/web-tools` - one of such git submodules which contains a `package.json` and where husky is installed in `node_modules`

[2015-07-27 08:33] matthewmueller opened #24 "Slow to execute"
Really digging this repo, but there's a noticeable delay running through the hooks, even ones that you haven't specified (ex. git commit when you only have a prepush). Do you think this is something that could be sped up?

[2015-07-27 23:45] typicode commented on #24
Hey,

Yes, currently it's not very optimal.
It creates all hooks, then each hook check if there's a corresponding script in `package.json` by running `npm run` each time. Must be the reason why it's slow.

I think of refactoring the project to create hooks based on scripts in `package.json` instead. This way, if there's no `precommit` there won't be a `pre-commit` hook.

The counterpart will be th

[2015-07-28 01:26] matthewmueller commented on #24
Personally I like just installing the hooks once. I'm not sure how many hooks are being run on a commit, but this `pre-commit` library doesn't really have a noticeable delay: https://github.com/iliakan/javascript-precommit/blob/master/bin/pre-commit.

Might be that `npm run` is slow.

[2015-07-30 11:57] typicode commented on #24
I found the reason why it's slow. Basically with `v0.9.x` I've added all git hooks.

Husky's `pre-commit` alone is not that slow. But with a `git commit`, `prepare-commit-msg`, `commit-msg`, `post-commit` are now run also.

So it's like running `npm run` 4 times on every commit.
As a temporary solution, you can use `v0.8.x` or manually remove unused `.git/hooks`.

[2015-07-30 14:03] typicode commented on #24
It should be much better now in `v0.9.2`.
I've switched to shell commands. So now instead of running `npm run`, it uses `cat` which is way faster.

[2015-07-31 01:58] matthewmueller commented on #24
Awesomeeee. Thanks a lot!

[2015-07-31 01:58] #24 closed

[2015-08-11 15:33] 27percent opened #25 "cd path incorrect on Windows systems"
When installing on Windows systems, husky creates hooks with cd paths as follows:
[code]

where the cd paths should be

[code]

Using back-slashes in the file path escapes characters instead of separating them with a slash, this stops husky from finding the package.json file which, in turn, stops husky working. I'm guessing this is a Windows vs. UNIX issue, the cd path needs to be sanitized and ba

[2015-08-11 21:41] typicode commented on #25
Good point, thanks for raising this issue :+1: I'll take care of it next week (don't have access to a computer right now)

[2015-08-12 16:33] iamstarkov opened #26 "silent npm run"
why did you choose run npm scripts in silent? usually its hiding some problems

[2015-08-14 14:02] rodneyrehm opened #27 "Ignore unstaged changes (precommit)"
I'm not submitting PRs for this because I wanted to talk about things first.

When running `git commit ./some-path` I don't necessarily commit all the changes in my working copy - but the scripts invoked on pre-commit don't know that. They will run on the current state my FS sees, not what I'm actually committing.

The common workaround is to save a diff, reset to head, run the tests and then re-a

[2015-08-17 17:42] typicode commented on #25
Hi @27percent,

Thank you for your patience, it should be good now (`v0.9.3`).
Path will be normalized on Windows.

[2015-08-25 01:11] typicode commented on #26
Originally, it was to make hooks output less verbose and more readable:

[code]

vs

[code]

Though, I agree that it hides things.

But if you need to debug stuff, you can run `npm run prepush` and you'll get the full output. That's one of the cool thing of having them defined in `package.scripts`.

[2015-08-25 12:09] iamstarkov commented on #26
I thought about it sometime, and ended up with thought that its nice to hide if everything is okay, but if it failed, then it will be better to show the error message. what do you think?

[2015-09-03 09:56] piranna commented on #27
This can be easily done with `git stash` and `git stash pop`.

[2015-09-03 20:50] #25 closed

[2015-09-04 03:37] mistadikay opened #29 "v0.10.0: gulp is trying to use “origin” as a task"
Hi,

after updating to v0.10.0, I have a weird behavior in my prepush hook which is the following:

[code]

Where `test:build` is the name of gulp task. When I run it as `npm run prepush`, everything is fine. But when husky is running it on `git push origin master`, I have the following error:

[code]

Which means that for some reason I have `origin` parameter leaked into npm script and it's tryin

[2015-09-04 12:05] typicode commented on #29
My bad, you're right. Since pre-commit takes no parameter, I just thought it would be the same with pre-push.

I'll fix that.

[2015-09-05 12:41] mistadikay commented on #29
@typicode `v0.10.1` works well, thanks!

[2015-09-05 12:41] #29 closed

[2015-10-23 20:47] scotthovestadt commented on #26
+1

[2015-10-26 12:48] iamstarkov commented on #26
@typicode any thoughts?

[2015-10-28 14:03] typicode commented on #26
Sorry forgot to reply. I'm on vacation with just my phone, will make a better/more detailed answer when I get back :)

[2015-11-05 17:12] rainboxx commented on #12
The script should have access to the STDIN that git is sending to the respective hook.

On the other side, the Bash hook could check the content itself and act on it. For for the `pre-push` hook, for example, this could just ignore the hook when deleting a remote branch:

[code]

This might not be what everyone wants, but the npm scripts could be more granular, have specific parameters or just pas

[2015-11-13 21:42] moimikey opened #33 "thoughts on ignoring certain filetypes?"
I'm not one for flooding features, but... it would be quite nice if `husky` had the ability to filter out glob patterns. my particular use case is that our repository has multiple languages committing which don't require our push hook, which enforces `eslint` to run.

food for thought!

[2015-11-16 15:17] andrew-makarenko commented on #26
I found this behaviour confusing, so it would be great to add some note about this in the readme.
Smth like 'Hook scripts will be runned with --silent flag, so you wouldn't see any information passed to STDOUT by your script. If you need to debug your script, you can run it manually `npm run prepush`'

[2015-11-25 11:04] typicode commented on #33
Hi @moimikey,

Interesting case. I think that you can create a `prepush.js` script for that:

[code]

`package.json`

[code]

[2015-11-25 11:34] iamstarkov commented on #33
I also prefer @typicode’s solution, because it will keep husky clean and easy to maintain

[2015-11-26 02:03] moimikey commented on #33
i love how it didn't cross my mind to do this. thanks! :+1:

[2015-11-26 02:03] #33 closed

[2015-12-04 01:36] ericsoco opened #36 "Don't pollute enclosing project hooks"
I just ran `npm install` on a package within my project's `node_modules`. This package has `husky` listed as a `devDependency`. `husky` ended up writing hooks into my project's `.git/hooks`, instead of the package within `node_modules`. Now I can't commit code in my own project without removing the hooks / `--no-verify`ing.

[2015-12-04 10:40] typicode commented on #36
Hi @ericsoco,

Not sure to understand why you want to run `npm install` in `node_modules`?
But if you're making some tests, you can run `npm rm husky --save-dev` to get rid of it and installed hooks.

[2015-12-04 17:25] ericsoco commented on #36
I was debugging a package and needed to rebuild it to pick up my changes.

My apologies, I don't know how husky does what it does, so I don't know if
it's feasible for it to be aware of context (installed within an npm
installed package or not), but it would be great if it could be smart
enough to not install hooks two levels up.

On Friday, December 4, 2015, typicode <notifications@github.com> wr

[2016-01-18 17:05] pgom commented on #26
@typicode actually it would be great if the silent (or other) flag could be used as an option. What do you think?

[2016-01-20 19:06] typicode commented on #26
I prefer to avoid adding options to keep it simple and I'm kind of satisfied with husky not being `silent`. Also I'm not sure what other flag could be added?

[2016-02-02 14:59] Shutnik commented on #20
Same problem, but works well without [this](https://github.com/typicode/husky/commit/62ca38fb0f51b2106ad2ba0bafe3ac4366ded0cc) changes.

[2016-02-17 11:57] Dunkelheit opened #38 ""nvm set default" vs. "nvm use""
Hello all,

I'm having this issue since version 0.11.0 (commit 11ae323135af3eddfb548332c4f599e5d9fd3fe9)

I work on a project that relies on different Node.js versions. My default `nvm` version is set to 0.10.42, and then I use `nvm use` to switch to the other version, v4.3.0.

However, `husky` will always use the default version instead of the one currently in use by `nvm`. Which works fine whene

[2016-02-17 21:00] typicode commented on #38
Hi Arturo,

It's not really intended, I'll fix that.
For the moment, I would suggest keeping `v0.10`.

Best regards

[2016-02-17 23:31] typicode commented on #38
Should be good now `v0.11.1`, husky will use `.nvmrc` if available:

[code]

Let me know if there are still problems.

[2016-02-18 09:04] Dunkelheit commented on #38
Awesome!

I've tested it and works like a charm.

Adding some debugging in `.git/hooks/pre-push`:
[code]

Result:
[code]

Thanks a lot! :+1:

[2016-02-18 09:04] #38 closed

[2016-02-18 10:16] typicode commented on #38
Great :) you're welcome

[2016-02-27 18:17] deepsweet opened #40 "fails on Windows after 0.11.2"
it [fails on windows](https://ci.appveyor.com/project/start-runner/input-connector/build/job/a7uats7u4hpvcem4):

[code]

because `#!/usr/bin/env node` shebang is ignored.

also, npm runs scripts by passing the line to `sh`, and using `node` [is a common practice](https://docs.npmjs.com/misc/scripts#default-values).

[2016-02-27 18:32] deepsweet commented on #40
because `bin/install.js` and `bin/uninstall.js` are not "true" bins, i.e. not declared in `package.bin`, npm does not prepare them for Windows in a special way (by making batch files) to be able to run like `bin/install`.

these are "normal" js-files which should be ran with `node`.

[2016-02-28 14:10] deepsweet commented on #40
already fixed

[2016-02-28 14:10] #40 closed

[2016-03-15 10:01] piranna opened #43 "Use scripts exit status"
If a script fails the hook exits with `1` as exit status, it should exit using the failure exit status of the script that have just executed.

[2016-03-15 10:18] typicode commented on #43
I agree. But npm doesn't seem to "forward" the script exit status.

`package.json`

[code]

[code]

[2016-03-15 10:25] piranna commented on #43
What version of `npm` are you using? On NodeOS I use the exit status extensively without problems... Maybe it could be by using custom scripts handlers that need to be executed with `npm run` instead of native ones (install, build...)? If so, then it's a npm bug regarding `npm run`...

[2016-03-15 10:35] typicode commented on #43
Interesting, I'm using `v3.7.3`

[2016-03-15 10:38] piranna commented on #43
I'm using `v2.14.12` with Node.js `v4.3.2`, so definitely seems to be a regression added on npm3. Should we open an issue on npm repo?

[2016-03-15 11:00] typicode commented on #43
I've installed Node `v4` and npm `v2.14.12` still not able to get exit code:

`package.json`

[code]

[code]

If you try the same scripts in your environment do you get `10`?

[2016-03-15 11:06] piranna commented on #43
Ok, seem you are right and it always return `1`, only that it print the output status:

[code]

In any case I think it doesn't hurt, and also showing that output code on the console as it has done on this test could be useful...

[2016-03-21 13:21] flesler opened #44 "Code changes on precommit"
Hi, not sure this is an issue with this module or maybe it's just how git works.
I'm trying to automate package.json version bumping before every commit.

I installed `uver-cli` in devDependencies, it's just a module that bumps the version.
Then:
[code]

It was effectively called but the version bump was left as an uncommited change.

Shouldn't precommit be able to change code? Is there another ho

[2016-03-21 13:24] flesler commented on #44
Ok, found the solution, will explain here in case someone else gets here.

Problem was I wasn't git adding the change to the index. This is how the script should be instead:
[code]

[2016-03-21 13:24] #44 closed

[2016-03-21 13:47] typicode commented on #44
Hi @flesler,
That's right, thank you for sharing the solution :+1:
You can go to https://git-scm.com/docs/githooks if you need documentation about a particular git hook.

[2016-03-31 07:52] lili21 commented on #26
I think optional silent would be helpful. When I am using git hooks for linting source code, those lint errors would be enough.

[2016-04-28 13:04] #27 closed

[2016-05-05 07:35] adius opened #46 "Add description to readme about what's going on under the hood"

[2016-05-08 15:55] typicode commented on #46
Thank you for the feedback, what do you think would need clarification?

[2016-05-08 16:22] adius opened #48 "Remove unnecessary mapping"
https://github.com/typicode/husky/blob/master/HOOKS.md

What is this mapping good for, except that it makes it harder to read? (especially `preparecommitmsg`)

[2016-05-08 16:27] adius commented on #46
Well … if you check out the code of the generated hooks,
it all makes sense.
But I think this feeling should already settle in after reading the readme =D

[2016-05-08 16:29] adius commented on #46
I guess a short explanation that husky generates the hook files in the .git/hooks directory
which check the package.json for the corresponding script and execute it
(and use the nvm specified version) would already be an improvement.

[2016-05-09 12:54] typicode commented on #48
The reason for this mapping was to be consistent with npm's hook syntax (`prepublish`, `preinstall`, ...), since git hooks are defined in the same place.

I wanted things to look like this:

[code]

Instead of this:

[code]

But at the time, husky was only supporting `precommit` and `prepush` scripts. So there wasn't anything long like `preparecommitmsg`.

Maybe it's an unnecessary mapping.

[2016-05-25 17:31] lasergoat opened #49 "I understand this works with GUI's but what about Github's Desktop Client?"
I have installed node with the standard installer.

I have husky working in the CLI but Github Desktop Client acts like there are no scripts to run.

[2016-05-25 19:53] iamstarkov commented on #49
maybe it is the problem with github desktop?

[2016-05-25 21:42] typicode commented on #49
Hi,

What's the output of `which node`? You're on OS X?

[2016-05-26 18:25] lasergoat commented on #49
`/usr/local/bin/node`

[2016-05-26 20:20] typicode commented on #49
It checks if `npm` is available in `$PATH` and fails otherwise. I suspect that `$PATH` may not be the same when the git hook script is run from GitHub Desktop.

If you want verify it, you can run:

[code]

Sorry I'm on Linux right now, so I can't test it.
There may be a setting in GitHub Desktop to edit `PATH`.

[2016-06-09 02:54] boxfoot opened #50 "Pass hook parameters through to scripts"
By default, git passes a variety of parameters through to its hooks.  This lets you do things like write a post-checkout hook that knows which branch it switched from and can compare what changed.

Currently, husky strips those parameters out, but it would be handy (and helpful) if the parameters were passed through using syntax for optional parameters to [`npm run`](https://docs.npmjs.com/cli/run

[2016-06-10 10:17] Braincompiler opened #52 "Missing the post-rewrite hook"
Actually you added it due to Issue #19 but while your refactoring to `hooks.json` it was removed or just forgotten to move to the json-file: 69701d403f86334a053fc9fc88561f27f53c15b2

I would really appreciate it if you can add it again cause we need it in our project for the exact same reason as described in #19 :)

Thanks!

[2016-07-12 16:47] typicode commented on #49
Quick update, works with `nvm` + `GitHub Desktop`.
Need to test with Node installed differently.

[2016-07-12 16:47] #50 closed

[2016-07-19 10:27] alvaropinot opened #58 "configurable messages"
It would being able to config custom messages like the one printed on failing. This would allow hiding that `(add --no-verify to bypass)` at line https://github.com/typicode/husky/blob/master/src/index.js#L98 or even adding more help. What do you think?

[2016-07-20 20:32] dmi3y commented on #7
I can't get it working. Do I have to set up something specifically or give it some options?

For refs here is the PR mentioned above:
https://github.com/typicode/husky/pull/17

My details:
OSX El Capitan
husky@0.11.5
npm: '3.10.3'
node: '6.3.0'

Thanks!

[2016-07-21 20:30] w33ble opened #59 "Option to not install git hooks on npm install"
When a user runs `npm install husky`, all of the git hooks get installed automatically. This is usually great, but it would be handy to optionally be able to skip that install step and run it manually later.

[ghooks](https://github.com/gtramontina/ghooks/blob/master/bin/module-install#L4-L6) offers this via `opt-cli` (it's broken in my testing though), which would allow a user to prevent the hook

[2016-07-22 09:29] iamstarkov commented on #59
there will be no point in husky with this feature enabled

[2016-07-22 17:30] w33ble commented on #59
I disagree. The repo I want to use this on spans multiple projects and languages, each with their own set of hooks and requirements. The issue we have now is that building the node parts requires an npm install, which automatically installs our hooks and gets in everyone else's way. There are some other options, and we could roll something by hand, but husky is everything we want, sans the option

[2016-07-22 21:49] w33ble commented on #59
I just realized that adding an opt-in option to husky isn't actually a requirement. We can just set up all the husky rules, and the someone would opt in would be to `npm install husky`. We don't need it in the package.json file at all.

Sorry for the noise.

[2016-07-22 21:49] #59 closed

[2016-07-25 13:41] codeheroics opened #60 "husky 0.11.5 breaks hooks"
Hi,

I have an issue with husky 0.11.5, which breaks my ability to `git push` correctly as it gives me an error:

Here it is (with edits to the relevant parts of the project name):

[code]

The issue appeared with 0.11.5. as `npm i husky@0.11.4` fixes the issue

[2016-07-25 14:37] natelaws commented on #60
Yep, just ran into the same problem with the same solution.

Kinda surprised to see `export GIT_PARAMS=$*` having issues. But it apparently does.

[2016-07-25 15:03] typicode commented on #60
There are 2 PRs that should fix the issue https://github.com/typicode/husky/pull/56 https://github.com/typicode/husky/pull/57

Just need to do a quick check on Ubuntu today (was on vacation last week), and it should be good.

BTW @codeheroics and @natelaws you're on Linux ?

[2016-07-25 16:47] typicode commented on #60
Just published `v0.11.6`. Thank you to @guilouro and @andywer for the PRs.

[2016-07-26 08:48] codeheroics commented on #60
Yes, I'm using Ubuntu.
I can confirm v0.11.6 fixes this! Thanks!

[2016-07-26 08:48] #60 closed

[2016-08-11 16:29] eos87 opened #61 "Installation with pnpm doesn't setup the hooks"
Hi there, are you planning to support `pnpm` installation?

[2016-08-11 17:14] iamstarkov commented on #61
It's an issue with pnpm, not with husky

[2016-08-11 17:15] eos87 commented on #61
could you please share the link to the issue (if any) just to follow up? thanks

[2016-08-12 11:55] iamstarkov commented on #61
there is no open issue relevant to yours one, so feel free to open one, do not forget to mention your platform and node, npm and pnpm versions

[2016-08-12 12:13] iamstarkov commented on #61
this issue can be closed though

[2016-08-12 12:39] typicode commented on #61
Hi @eos87,

I would also check if `pnpm` supports `npm` [install hook](https://docs.npmjs.com/misc/scripts), as this what `husky` uses to automatically install git hooks.

[2016-08-12 12:58] iamstarkov commented on #61
npm lifecycles scripts were working, were broken, now fixed, but not released yet

[2016-08-12 15:23] zkochan commented on #61
@eos87 which version of pnpm do you use? I think it should work with version 0.23 and 0.24

[2016-08-28 21:12] skhilko commented on #49
I confirm, husky hooks don't work for GUI clients with Node installed without use of `nvm`. When I use SourceTree to commit something, I see the following error:
`husky - can't find npm in PATH. Skipping precommit script in package.json`
I'm pretty sure it fails the same in GitHub Desktop.

@typicode, you're exactly right:

After some research I found that GUI apps on mac didn't respect `$PATH` va

[2016-09-01 12:47] typicode commented on #49
I agree :), do you want to make a PR?

[2016-09-11 13:40] tunnckoCore opened #64 "Seems not respecting `--silent`"
It seems it not respects the `alias npm="npm --silent"`.

[2016-09-12 12:31] iamstarkov commented on #64
what do you mean by that?

[2016-09-12 12:38] tunnckoCore commented on #64
i have this alias, and when fails for example the commit-msg hook it outputs npm's 20 lines error, which i dont like and that's silent flag for

[2016-09-12 12:42] tunnckoCore commented on #64
i believe, it's because you use bash's `command npm ...`.

i have an idea, why not just call `node path/to/jsfile.js` instead of creating and workin on bash file. i'll show what i mean, im on phone now.

[2016-09-12 12:43] iamstarkov commented on #64
husky is separated from npm, so how npm silent flag will help you with husky?

[2016-09-12 13:13] tunnckoCore commented on #64
What about if we just create simple Bash file for in the hook dir, then just call node from it.

**example .git/hooks/commit-msg**

[code]

And actually the hook will be plain javascript file which will allow cool things. Idea is more advanced and I'm going to implement it in https://github.com/tunnckoCore/npm-hooks

[2016-09-12 13:23] iamstarkov commented on #64
npm hooks' environment is different from plain node environment

[2016-09-16 22:52] EvanLovely opened #65 "Show message to users that could help with long running hooks"
If I have a precommit hook and it takes a bit of time, I don't see any output at all until the whole thing is done. It'd be great to either show `stdout` as it happens or at least have a message like "pre commit hook running..."

Thanks!

[2016-09-21 02:46] typicode commented on #49
Should be good with `v0.11.8`.
Thank you @skhilko

[2016-09-21 02:46] #49 closed

[2016-09-21 08:48] IcanDivideBy0 commented on #20
any updates on this ? does someons found a fix / workaround ?

[2016-09-22 10:00] astronati opened #66 "Git pre-commit hook failing in GitHub for mac (works on command line)"
As described in http://stackoverflow.com/questions/12881975/git-pre-commit-hook-failing-in-github-for-mac-works-on-command-line husky should take care of it.

During the installation, it should add that extension to the PATH.

[2016-09-22 11:01] #66 closed

[2016-09-30 09:15] jozsi opened #68 "fatal: Not a git repository"
Hello,

I am trying to install husky inside a docker container that has a host directory mounted as a data volume.

Apparently, the working directory is set to `./node_modules/husky` instead of `.` so `hooksDir` fails:

[code]

I need to manually run the following to get it to work:

[code]

I suppose it should work on npm install as well.

PS: My npm version is `2.15.9`

[2016-10-05 15:57] nick-woodward commented on #49
Still seeing the original issue of the `pre-commit` hook running from the CLI, but getting skipped in GUIs.

OS: Windows 7
GUI: GitHub Desktop

[2016-10-05 16:12] iamstarkov commented on #49
@nick-woodward is it with latest husky?

[2016-10-05 16:13] nick-woodward commented on #49
@iamstarkov Sorry forgot to mention that. Yes I'm using 0.11.8.

[2016-10-10 08:42] Leslie2014 opened #71 "how to get git params"
hi.
i want to prevent git push when branch name match the regular expression.
so, the question is, how can i get the command cli param.
e.g: git push publish/0.0.4, the string 'publish/0.0.4' is what is want.

[2016-10-10 19:10] typicode commented on #71
hi @Leslie2014,

Git params are passed in `GIT_PARAMS`:

[code]

[code]

I'll update the README :)

[2016-10-11 00:49] mrmckeb commented on #64
It would be great to resolve this, having large NPM errors logged out makes the actual error harder to see.

[2016-10-11 07:57] Leslie2014 commented on #71
Thanks!  : )

[2016-10-11 07:57] #71 closed

[2016-10-11 09:07] pixelass opened #72 "Error on (re)install"
When running `npm install` the git hooks are set up.

After removing node_modules and running `npm install` I get the following error

[code]

[2016-10-11 09:40] typicode commented on #72
Hi @pixelass,

Thank you for the report. Hmm, I don't really know why it doesn't work the second time. Also, I'm not able to reproduce the issue:

[code]

Am I missing something? Also there's a test to prevent that here:
https://github.com/typicode/husky/blob/master/src/index.js#L123

PS: I'm using Node stable instead of `iojs`, don't know if it's related

[2016-10-11 09:44] pixelass commented on #72
thx for the fast reply.
I'll test it in a MVP. This is a big project so maybe we're doing something else wrong.

[2016-10-11 10:20] iamstarkov commented on #72
@typicode i think you couldnt reproduce it because you didnt specify any git hooks in npm scripts

[2016-10-11 10:21] iamstarkov commented on #72
and @pixelass is also using `nodejs`, not `iojs`

[2016-10-11 10:22] iamstarkov commented on #72
@typicode that said you are right and tests are covering this case

[2016-10-11 10:25] iamstarkov commented on #68
why do you need `husky` if you are not using `git`?

[2016-10-11 10:26] iamstarkov commented on #65
what is husky version you are using?

[2016-10-11 10:26] iamstarkov commented on #65
and can you share your npm scripts?

[2016-10-11 10:27] iamstarkov commented on #61
@eos87 ping

[2016-10-11 10:28] iamstarkov commented on #46
@adius would you mind to suggest a pull-request with relevant explanation?

[2016-10-11 10:36] iamstarkov commented on #36
cant wrap my head about this problem. @ericsoco can you elaborate a bit?

[2016-10-11 12:49] pixelass commented on #72
In my case hooks is not a folder but a symlink.

`hooks -> ../node_modules/git-scripts/bin/hooks`

It seems that a previously installed module "git-scripts" added the symlink so your test does not recognise it as a directory.

Not sure if you want to add this to the test.

Cheers.

[2016-10-11 14:24] iamstarkov commented on #72
i think the problem here is that your project is using two different packages to orchestrate git hooks at the same time

[2016-10-11 16:25] pixelass commented on #72
it was the previous package. it has been exchanged by husky.
We don't use multiple packages. the symlink was dirt from the old pkg. your check does not detect symlinks

[2016-10-11 16:27] pixelass commented on #72
as mentioned the issue is resolved after deleting the symlink.

[2016-10-11 17:27] ericsoco commented on #36
It's been a long time @iamstarkov, but best as I remember, my initial comment describes it well -- I `npm install`ed a package in my project that uses `husky`. In order to debug that package, I had to run `npm install` from within its folder (e.g. `myproject/node_modules/package-that-uses-husky`). Doing so installed git hooks on my project (`myproject/.git/hooks`) instead of on the package (`mypro

[2016-10-16 07:16] marvinhagemeister commented on #64
PR #73 is a different config based approach which would satisfy both positions. At work there are some of us who prefer to suppress npm's verbose error output and some who prefer the verbose version.

[2016-10-24 21:07] marvinhagemeister commented on #64
We'll my coworkers were bugging me a lot with this the past week, so I finally gave in and created a minimal fork with my PR applied. It is published on npm under the package name: [husky-dontbark](https://github.com/marvinhagemeister/husky/tree/husky-dontbark).

Obviously a fork is not an optimal solution and I'd love to bring some sort of silence mode into core (either via my PR or something els

[2016-10-25 22:16] radfahrer opened #75 "Why are dashes stripped from the hook names?"
as seen here https://github.com/typicode/husky/blob/master/bin/install.js#L21, when the hooks are installed, dashes get stripped out of the hook names. Why is this being done?

[2016-10-25 22:25] typicode commented on #75
Hi @radfahrer,

For consistency with npm script hooks https://docs.npmjs.com/misc/scripts and to avoid having this in `package.json`:

[code]

It's hard to say what's the best approach, but the idea was that for Node devs it would be less surprising to have this convention.

[2016-11-03 19:01] kunle-e opened #76 "Failing on windows 10"
Node v4.24
npm v3.8.3
git  v1.9.5.msysgit.1

The generated logic in the post-commit hook looks like this:
[ -f package.json ] && cat package.json | grep '"postcommit"\s*:'
[ $? -ne 0 ] && exit 0

What's happening is that the \s*: is not working as expected. It will find nothing and exit 0.
If I change grep '"postcommit"\s*\:'    to     grep '"postcommit"[[:space:]]*\:'   It works.
Maybe this is mo

[2016-11-06 20:04] michaelBenin opened #77 "Husky uses different node / npm version to execute precommit hook"
Currently I'm using different node versions for different projects.

Husky is currently using a different version of node and npm to execute the precommit hook instead of the one that is currently used for nvm.

Is this expected behavior?

[2016-11-07 12:30] typicode commented on #77
Hi @michaelBenin,

If Node version is changed without setting it as the default, yes husky will still use the default one.

[code]

To fix this, you can either set a new default or create a `.npmrc` file in your project directory:

[code]

Maybe this can be improved.

[2016-11-11 00:32] vgvenkat opened #78 "Thank you"
Not actually an issue, but Thank you for husky. Had issues with ghooks was referred here, setup and commit hooks seamless. ! Awesome work 👏🏼  👏🏼 👏🏼 ✨

[2016-11-16 15:59] davidhund commented on #64
@typicode: any plans on merging this PR #73?

[2016-11-16 17:29] tunnckoCore commented on #64
:+1:

[2016-11-22 16:35] michaelBenin commented on #77
Why does husky care if I use nvm or what my default is? Why would it use that instead of the current version of node? I've switched to https://www.npmjs.com/package/pre-commit which uses current node version. Feel free to reopen this issue.

[2016-11-22 16:35] #77 closed

[2016-11-30 08:20] thm1118 commented on #76
on windows , should use find command instead of  grep

[2016-11-30 12:52] alisabzevari opened #79 "Install issue on non-git environments"
Husky couldn't detect our Jenkins CD environment because the `BUILD_NUMBER` env variable was not present and failed to install. Why not just checking if the `.git` directory exists?

[2016-12-01 23:13] christianacca opened #80 "postcheckout hook never exits during interactive rebase"
I've been struggling to resolve a problem with a `postcheckout` hook that is running during an git interactive rebase.

The symptoms of the problem are very obvious:

* `git rebase somesha -i`
* select that you want to reword one of the commit messages
* confirm your answers (in my case I'm rewording one of the commit messages)
* ... wait, wait, wait... give up waiting for the text editor to appea

[2016-12-01 23:54] jt3k opened #81 "how to setting up?"
By using readme.md i install husky `npm install husky --save-dev`
then i add precommit and prepush hooks to npm.
![](https://i.imgur.com/yHDsM2R.png)

Now I try to do commits
![](https://i.imgur.com/RAlgbg9.png)
but hooks not works.

what am I doing wrong?

[2016-12-09 00:26] typicode commented on #81
Hi @jt3k,

Normally running `npm install husky --save-dev` should automatically trigger installation script for you (`node_modules/husky/bin/install.js`).

So, just by setting `precommit` in `package.json` you should be good.

That said, one reason that could explain why hooks weren't installed is if `ignore-scripts` is set to `true`. To verify could you run:

[code]

[2016-12-09 00:29] typicode commented on #79
Good point, I'll update husky.

[2016-12-09 07:26] jt3k commented on #81
![2016-12-09 10 23 56](https://cloud.githubusercontent.com/assets/1261240/21041056/b4b1b6ac-bdf9-11e6-9ecb-f5c123bfdea5.png)

it seems the problem is installing via add yarn husky --dev

thanx for help!

[2016-12-09 07:26] #81 closed

[2016-12-12 17:06] Jflinchum opened #84 "Does not install git hooks when using yarn"
When running `yarn add husky --dev`, the git hooks do not get set up. I have to run the install script manually, and then it works fine.

Yarn version: `0.17.9`

[2016-12-12 17:12] SxMShaDoW commented on #84
👍 on this functionality.

[2016-12-12 17:58] typicode commented on #84
Thanks for the feedback.
Seems it does run husky's `postinstall` just once, except if you ignore cache by using `--force`.

[code]

[2016-12-13 09:02] alisabzevari commented on #79
@typicode Cool, I can make a PR.

[2016-12-13 10:45] typicode commented on #79
Thank you for the offer. Already added the feature in the `next` branch ;) and published it using `beta` tag, to give it a try:

[code]

I'll publish `v0.12.0` stable soon.

[2016-12-15 09:11] evilebottnawi opened #86 "Improve: use `CHANGELOG`"
It would be very convenient see the changes in versions.

[2016-12-15 11:37] typicode commented on #86
Good point :) fixed:
https://github.com/typicode/husky/blob/master/CHANGELOG.md

[2016-12-15 11:37] #86 closed

[2016-12-20 16:55] #79 closed

[2016-12-22 07:51] thecotne opened #87 "can't commit from smartgit on ubuntu"
[code]

i think cwd is wrong here

works if i commit from terminal

[2016-12-22 11:17] Moeriki commented on #77
I too would prefer husky to use my current node instead of the default.

Is there a technical issue that would prevent this change, and would you accept a pull request to resolve this?

[2016-12-24 07:36] thecotne commented on #87
@typicode

[2016-12-28 14:57] pajtai opened #88 "Update hook is in the wrong directory"
Thanks for this great npm. Pre-commit works great, but having issue with an update hook.

I added some echo statements to `.git/hooks/update` and it looks like pwd is showing `project/.git` instead of `project`:

so the following at `.git/hooks/update` is on the remote (Ubuntu) and is correctly triggered after a git push from my local:

[code]

however the echo above shows `/home/ubuntu/project/.g

[2016-12-28 15:37] pajtai commented on #88
In terms of the final script, something like the following would work:

[code]

I'll play around with how to generate that for [normalizedPath](https://github.com/typicode/husky/blob/master/src/index.js#L52)

[2016-12-29 11:47] #87 closed

[2016-12-29 17:03] mkimberlin-monsanto commented on #77
Agreed. This should really be reopened.

[2016-12-29 22:27] typicode commented on #77
Hi all,

This has been updated and solved in `v0.12`, sorry for the confusion. The current behaviour is: if you already have Node in your `PATH` it should use it without trying to load some other version.

So why does husky care about `nvm`? It's actually for the many users that use GUI apps (like SourceTree, GitHub client, etc...).

Since `nvm` changes `PATH` only in the terminal, apps will fail

[2016-12-30 17:41] mkimberlin-monsanto commented on #77
We ran into this with 0.12.0.

[2016-12-30 18:05] typicode commented on #77
Ok that's a bug then, thanks for the report :+1: I'll double check

[2017-01-04 08:55] nerdgore commented on #64
Has anyone tried an npmrc file? It works wonderfully for me. IMO there is no need to add a config option to the package.json.
![screen shot 2017-01-04 at 09 50 33](https://cloud.githubusercontent.com/assets/1582533/21636675/db19de72-d263-11e6-977e-e9678ec46616.png)

[2017-01-04 12:14] #75 closed

[2017-01-04 12:19] typicode commented on #77
hi @mkimberlin-monsanto,

I suspect that your issue happens when Node is installed using `nvm` and `nvm` installed using `brew`. Is this how Node is installed on your machine?

[2017-01-04 14:36] tunnckoCore commented on #64
Don't know. I was using `pre-commit` last year or so and last days I switched to husky for a bit, but back switched to pre-commit. Reasons were that it outputs yellow output with NPM ERR, but exits with no errors so the task is run successfully (the task is `git-cz`) and the second one is that I had `prepush: npm test` but it seemed that it does not run the tests.

[2017-01-09 15:21] daminufe opened #92 "Prepare Commit Message existing hook"
I am trying to use Husky for a project. But the problem is that I have several git hooks which are really specific and I still want to run them using bash.

I tried, but it seems they are not taking the parameters. Are there a way to keep using the existing hooks plus the ones on the package.json?

[2017-01-09 18:23] typicode commented on #92
Hi @daminufe,

Yes, husky won't overwrite any existing hook. So, if you have existing hooks, you can keep using them plus the ones from package.json.

Of course, you can also move them out of `.git/hooks` if you want to version them:

[code]

[2017-01-10 09:33] daminufe commented on #92
It won't work.

I have the following structure:

* `git-hooks/prepare-commit-msg`
* `package.json`

The content of the `prepare-commit-msg` is:

[code]

Then I got this output from the console when I commit:

[code]

I tried several prepare-commit-msg files and none works.

[2017-01-10 17:51] Necroskillz opened #93 "Expose git stdin parameters for pre-push"
As you can see in the pre-push sample: https://github.com/git/git/blob/master/templates/hooks--pre-push.sample, they use some stdin parameters to determine local and remote sha and ref.

Main usecases for having these parameters are:
 - To not execute pre-push hook when you are deleting a remote branch (this is the most important, since it's kind of annoying when hooks starts when you just want to

[2017-01-11 04:51] ljharb commented on #36
I had the same problem (with `ghooks`). This caused git hooks I didn't write, audit, or know about to be installed in my company's private repo.

Automatically injecting git hooks on install (as opposed to requiring the package consumer to explicitly add a command in a postinstall script, which would be far safer) is dangerous enough - it should certainly not traverse above the folder the closest

[2017-01-12 21:30] typicode commented on #36
@ericsoco next version of Husky will prevent this case. There's already a test and code for this in `master`.

So, Husky won't install git hooks if it detects that it's in a sub-node_module directory. For example:

[code]

won't install hooks in `project/.git`

[2017-01-12 21:36] typicode commented on #36
@ljharb thanks for the feedback. At first, this was the behaviour, Husky was supposing that `.git` directory was at the same level than `package.json` (as you would expect it to be in most Open Source projects).

But actually, there's many people that seem to have a different layout, for example:

[code]

That's why Husky looks for the first `.git` directory it can find.

That said, I would be int

[2017-01-12 21:49] kentcdodds commented on #76
How can we help @typicode? I asked @gtramontina to deprecate `ghooks` so we could converge on a single githooks solution. I didn't realize that husky didn't support (non-bash) windows. What would you like to see by way of a solution? Any tips?

[2017-01-12 22:49] typicode commented on #76
Thanks for the help and the report. I just gave a try now on Windows 10 and would need steps to reproduce.

With Git (git version 2.11.0.windows.1) installed using the installer from https://git-scm.com/ it works. The same goes for the GitHub client.

How should I install Git to have a failing case?

To test, I'm doing this:

[code]

[2017-01-12 23:19] ljharb commented on #36
All I know is that I've never done any development on `video.js`, they used `ghooks` as a dev dep, and somehow my company's private git repo ended up with git hooks i didn't write or audit.

I think doing *anything* like this automatically on install is HIGHLY dangerous. Users should have to opt-in by running an explicit command first.

[2017-01-16 14:00] julien-f opened #94 "Support raw git hook names as npm scripts"
Hi,

I was previously using ghooks which used the raw names for git hooks (`commit-msg` instead of `commitmsg`).

I can understand your preference of removing `-` as it's closer to npm standard scripts but it would make the transition from ghooks easier the raw names were also supported.
Furthermore, I think it's clearer to use the git names because that's what one can find on the Internet.

Plus,

[2017-01-22 00:17] typicode commented on #76
I've updated hook script to use `[[:space:]]`, this should broaden Windows support and make it work with older Git (`1.9.5.msysgit.1`).

@kunle-e thanks for the tip ;)

It's available in husky `v0.13.0`

[2017-01-22 00:17] #76 closed

[2017-01-27 09:26] mickaeltr opened #95 "When installing husky, it corrupts my project (new configuration files, new lines in package.json)"
Hello,

When I install my project, husky (^0.13.1) sometimes:

1. Adds new configuration files in my project:

- .depcheckrc
- .eslintignore
- .eslintrc

2. Adds new lines in my package.json

<img width="719" alt="screen shot 2017-01-27 at 09 55 57" src="https://cloud.githubusercontent.com/assets/378910/22365987/a27d7ece-e47a-11e6-8e88-526caecc9032.png">
<img width="133" alt="screen shot 2017-01-2

[2017-01-27 22:02] typicode commented on #95
Hi @mickaeltr,

These files aren't part of husky, so I would suspect maybe some other `dependency` or `devDependency` are doing this.

Also `husky` hooks in `package.json` are defined using `precommit` and not `pre-commit`, I would say there's maybe another hook manager (this can cause some issues as husky won't be able to install git hooks).

Here are the dependencies husky installs https://githu

[2017-01-30 15:12] voxpelli opened #96 "Release 1.0.0"
I think we're quite a few who uses this module actively and have done so for years so it would be great if it could migrate to a stable version number as SemVer defines stable version numbers.

Is there anything specific blocking a `1.0.0` release that can't instead wait for a future `2.0.0`?

[2017-01-30 16:22] callmephilip commented on #93
+1: I am trying to determine the name of the branch in pre-push and cannot seem to find a way to do this with husky ($GIT_PARAMS only contains information regarding remote + repository uri)

[2017-01-31 14:56] mickaeltr commented on #95
Hi @typicode,
I though it was coming from _husky_ but actually I am pretty sure now that it actually comes from another package (https://github.com/doublesharp/lru-cache-for-clusters-as-promised) which installs _developer-tools_ (https://github.com/doublesharp/node-developer-tools) which overwrites Git hooks!
Many thanks

[2017-01-31 14:56] #95 closed

[2017-02-06 13:35] Thatkookooguy opened #97 "any documentation on how to update commit-msg?"
I want to create a hook to add a line at the end of the commit message.

so, if a user wrote:
[code]

I want the commit to change to
[code]

I see in [the hooks support page](https://github.com/typicode/husky/blob/master/HOOKS.md) that `husky` does support this event, but I can't seem to find how to change the commit message.
Most cases I found online just validate the commit message and don't edi

[2017-02-06 16:33] iamstarkov commented on #97
It seems like you need commit message templates and not hooks https://robots.thoughtbot.com/better-commit-messages-with-a-gitmessage-template

[2017-02-06 17:00] Thatkookooguy commented on #97
@iamstarkov I don't want a template. This change shouldn't effect anything the committer actually wrote. it just adds a string to the end of the commit to mark some commits
I want to add this only on some of the commits.

So, a commit message template isn't the right solution here.

[2017-02-06 19:47] iamstarkov commented on #97
Have you tried asking on StackOverflow? By the way, git has examples for all hook: take a look https://github.com/git/git/blob/master/templates/hooks--commit-msg.sample

I wanted to note that the only husky's responsibility is to invoke hooks, not actual hooks implementation.

[2017-02-06 22:47] Thatkookooguy commented on #97
I already now how to make this in bash.
But there's no clear documentation on where to set or get the commit message file for husky.
I prefer to change the implementation to use javascript instead if possible.

If it's not possible (meaning I'll have to use the original script), that's fine too.

But if there is a way to change the commit message with husky (and javascript), that's what I'm trying

[2017-02-06 23:08] Thatkookooguy commented on #97
seems like
[code]

This was the right answer.

[2017-02-06 23:08] #97 closed

[2017-02-13 13:24] WiseBird opened #98 "Fatal when trying to call git from hook"
I am getting `fatal: Not a git repository: '.git'` when trying to call git from hook: `"precommit": "git status"`. I think the reason is that my package.json isn't located in root folder and hook is run from there.

The only way I found is to prepend each git call with `cd ../../../`.

[2017-02-13 22:32] iamstarkov commented on #98
hi @WiseBird, its hard for me to get the problem. can you create a github repo with minimal reproducible test case?

[2017-02-14 08:46] WiseBird commented on #98
@iamstarkov here it is - https://github.com/WiseBird/husky_issue_22
Install packages and then try to run `git commit -m "X"`

[2017-02-14 13:15] wizardzloy commented on #94
There is another issue with the current hook names. Say you have an npm script called `commit`, then if you define a husky hook "precommit" and run `npm run commit` npm will also automatically execute `precommit` just because of the way npm-scripts work. Is it possible to workaround this situation without renaming the `commit` script?

[2017-02-14 15:31] iamstarkov commented on #94
@wizardzloy right now, there is not

[2017-02-15 13:02] avaly commented on #84
Can this be addressed in a future version? Projects and teams using `yarn` should not need to manually run the `--force` command in order to get the functionality working.

[2017-02-15 14:25] wzrdzl opened #99 "Avoid `prexxx` `postxxx` names for hooks"
When you run your npm script called `xxx`, npm will automatically execute the scripts `prexxx` before and `postxxx` after the target script if available. `husky` [uses the names with `pre` and `post` for the hook scripts a lot](https://github.com/typicode/husky/blob/master/HOOKS.md) , this introduces the limitation for the names of your npm scripts, e.g.  https://github.com/typicode/husky/issues/9

[2017-02-15 14:48] typicode commented on #84
Hi @avaly,

Yes it will.
I have a few ideas for this but need to do some testing.

[2017-02-17 01:16] jspiro commented on #98
I'm seeing this too. If I call a bash script in a subdirectory below the package, and that script calls git status, it doesn't work despite the working directory being correct and sibling to `.git`.

[2017-02-17 02:12] jspiro commented on #98
Ah, in my case it was because I was setting `$GIT_DIR` in my script, which is apparently a reserved env var. `$GIT2_DIR` made it go away. So maybe my issue is unrelated.

[2017-02-24 21:29] rainboxx commented on #77
@typicode Hey, I ran into something like this today as well since the system's (macOS) default version is not capable of features I started to use. Looking into the hook I found out that husky only uses `nvm` if there's no `npm` in the path. Since macOS has node installed as default (or, at least on my machine, it's installed plus `nvm`), husky will never pick up my `.npmrc` in the project root. M

[2017-02-25 07:56] elektronik2k5 commented on #84
I've encountered a few issues with it too :(. Had to remove the hook manually from `.git/hooks/` then `yarn add husky --dev --force` to make it work.

[2017-02-25 08:00] elektronik2k5 opened #102 "PR suggestion: add yarn-or-npm as dependency"
First of all, thanks to @typicode and other contributors for husky! :bowing_man:
I discovered [yarn-or-npm](https://github.com/camacho/yarn-or-npm) and I think it suits perfectly for husky. Should I add a PR?

[2017-02-26 08:18] buildAll commented on #81
if you have your own precommit in .git/hooks before npm install husky, than precommit scripts could not be triggered. so just delete your own precommit first.

[2017-02-27 09:31] iamstarkov commented on #102
why?

[2017-02-27 09:34] elektronik2k5 commented on #102
So you get a consistent task runner: if you've got yarn, use that - otherwise fallback to npm.

[2017-02-27 09:50] iamstarkov commented on #102
i see

[2017-02-27 09:50] iamstarkov commented on #102
sounds like a good idea

[2017-02-28 12:12] badtant opened #103 "husky with sourcetree?"
I'm trying to use husky precommit with sourcetree. The precommit command is run but i get the following error:
env: node: No such file or directory

Does anybody know what's wrong? I'm using nvm.

[2017-02-28 12:32] iamstarkov commented on #103
have you read [tricks in the README](https://github.com/typicode/husky#tricks)?

[2017-02-28 13:13] badtant commented on #103
yes, and I didn't find any trick there. I'm fine with using what nvm has set as default but I don't think that is where my problem lies.

[2017-02-28 14:07] badtant commented on #103
I had some old node stuff except for nvm but I've removed that now and now I get this error:

.git/hooks/pre-commit: line 11: exists: command not found
.git/hooks/pre-commit: line 11: exists: command not found

So, for some reason husky doesn't seem to be able to load nvm.

[2017-02-28 19:17] typicode commented on #103
Hi @badtant,

Seems like it's a bug and more particularly a typo. Could you try replacing `exists` with `command_exists` in `.git/hooks/pre-commit`?

[2017-03-01 15:40] typicode commented on #99
Hi @wizardzloy,

Thanks for the feedback. Actually I didn't thought about this edge case.

Not against changing to raw names, but I'd like to better understand what are the hooks that conflicts for people and if it would be possible to rename them?

[2017-03-01 15:52] wizardzloy commented on #99
@typicode It is definitely possible to rename your scripts to avoid the clashes, but I believe it's still a limitation.
In our project the script that caused the problem was `commit`. We use [commitizen](https://github.com/commitizen/cz-cli) for maintaining the format of our commit messages and the script looks like: `"commit": "git-cz"`. We renamed that to `cz` eventually, but the name `commit` m

[2017-03-02 08:24] typicode commented on #103
Actually there's @rainboxx's PR that fixes it, a new version should be published soon.

[2017-03-03 08:53] typicode commented on #103
@badtant PR has been merged and new version has been published, it should better now :)

[2017-03-03 11:04] iamstarkov commented on #103
@badtant can you verify it with new husky's version?

[2017-03-03 11:20] #103 closed

[2017-03-04 11:51] mightyiam opened #105 "Should ABORT if npm not found"
I'm using nvm for node, so when using some GUI to make a commit (if I didn't open that GUI from the same environment that nvm manipulated), then `npm` is not found.

At that point, husky decides to skip the precommit hook, as if it is optional.

No, I don't think that this is correct behavior. I feel cheated by husky.

In a case where npm is not found, husky should ABORT the commit, is how I see i

[2017-03-06 16:37] mgol opened #106 "nvm shouldn't be skipped even if a global Node installation (e.g. via Homebrew) is present"
I have a few Node.js versions installed via nvm but I also have one from Homebrew. nvm supports such scenario; it lists the globally installed Node as "system", allows to switch to it etc.

In one of my projects I require a Node version matching `>=6.5.0 <7.0.0`; other versions are rejected. However, the global package is now at 7.1.1. I have a proper `.nvmrc` (with contents: `6`) in my project bu

[2017-03-08 11:54] typicode commented on #106
Thank you for the report @mgol, it's an unexpected side effect.
I'll have a look this week-end.

[2017-03-08 13:15] duclet commented on #99
I'm not sure if that will fully resolve the issue. There is nothing stopping it for whatever reason executing `prepre-commit` for example. Also, it takes away the ability to name certain scripts because `git` has a commit hook for that. One of the ones I see is `update`. Also, what if `git` decides to add a new hook in the future? So currently I have a script called `foo`, I upgrade `git` and now

[2017-03-08 16:28] orlin opened #108 "Git LFS and husky prepush hook?"
I just tried to `husky` a `prepush` script and nothing happened.  Looking at `.git/hooks/pre-push` I see that I already have a hook there:

[code]

Running `node node_modules/husky/bin/install.js` doesn't help:

[code]

I guess that's good, as I don't want Git LFS to break and get some large files in the repo without noticing...

Is there a husky solution for having a prepush while also using [git

[2017-03-12 22:21] typicode commented on #106
Could you try with `npm install --save-dev husky@0.13.3-0`?

[2017-03-13 10:44] ahstro commented on #84
I'm not experiencing this. Is it fixed? If so, close? :)

[2017-03-13 11:56] typicode commented on #108
Hi @orlin,

Good question. Would it be possible to move the logic out of the `pre-push` hook and have `husky` run it on `pre-push`?

[code]

[2017-03-17 00:17] ORESoftware opened #109 "Husky dep problem"
I got this error when running NPM install on a prod server:
[code]

not sure if it has to do with Husky or not but just in case

[2017-03-17 21:40] faceyspacey opened #110 "should husky be running precommit hooks twice: once before commitizen wizards and again after?"

[2017-03-18 22:40] ohana54 commented on #103
I still had an issue with SourceTree, adding this comment in case it helps someone.
The pre-commit-hook looks for `npm`, and I had a leftover `npm` in `/usr/local/bin`, so the hook didn't run `nvm` like it's supposed to.
I removed `usr/local/bin/npm`, the hook then properly ran `nvm use` and everything worked.

[2017-03-21 13:34] rainboxx commented on #103
@ohana54 check out the discussion at https://github.com/typicode/husky/pull/101. The code has changed but it was loading `nvm` when there's a `.nvmrc` file in the project folder, even when `npm` was in the path. We didn't come to a solution how to handle such a case (it's also a breaking change) but IMHO comments are welcome.

In the end I also uninstalled the system-wide node, since it's not used

[2017-03-21 15:31] mgol commented on #106
Sorry for the delay. I confirmed `0.13.3-0` fixes my issue.

[2017-03-21 17:10] tamoyal commented on #98
im having this problem as well

[2017-03-21 20:10] zkochan commented on #61
There is a new issue when using husky with pnpm and I am not sure we can fix it on the pnpm side.

Husky does not install git hooks if it detects more than 1 node_modules in the husky directory path (related code: https://github.com/typicode/husky/blob/a2da709b676fb75903922ab733d139006caf8824/src/index.js#L195)

When packages are installed with pnpm, all deps have exactly 2 node_modules in their d

[2017-03-21 22:31] milesj opened #111 "Silence echos"
I'm loving husky so far as it makes hook management super easy. However, the output of husky is a bit much. It would be nice if we could disable all the `echo`s that occur within the bash scripts.

[2017-03-23 17:02] JPeer264 opened #112 "CI detected takes ages"
On AppVeyor and TravisCI my builds always take 3 more minutes with the `skip CI`. Wouldn't it be better to make a `if / else` in `bin/install.js` rather than a `process.exit(0)`?

[2017-03-23 17:42] typicode commented on #112
That's stange, I'm not noticing any particular slowness on TravisCI/AppVeyor with Husky.
Maybe others can relate?

That said, `process.exit(0)` should immediately exit. Do you think you could have other things running after?

[2017-03-24 22:17] typicode commented on #106
It's published `v0.13.3` :)

[2017-03-24 22:17] #106 closed

[2017-03-24 22:19] typicode commented on #110
Hi @faceyspacey,

It may be related to https://github.com/typicode/husky/issues/99#issuecomment-283379169
If you rename your commitizen script from `commit` to `cz` for example, it should fix the issue.

[2017-03-27 14:11] sospedra opened #113 "GIT_PARAMS"
is always empty :/

`"precommit": "echo $GIT_PARAMS"`

node v7.4.0
husky v0.13.3

[2017-03-29 16:37] eduardomoroni opened #115 "Custom messages on Hook faillures"
Every time some hook fails we got this message like that:
[code]

Could we set a custom message in case of failure?

[2017-03-29 18:10] typicode commented on #115
What kind of message would you like to set?
Alternatively, you could set a message in `precommit` script in `package.json`:

[code]

[code]

[2017-03-29 18:43] eduardomoroni commented on #115
Actually, we're trying to override husky message. On message, we'll explain what the person should do to make the hook pass. The way you showed is enough for us, but could we remove the husky message?

[2017-04-07 00:44] nikolay commented on #115
@typicode For me the main issue is the stack trace that husky has if a hook fails.

[2017-04-07 18:40] tobiasbueschel opened #116 "Precommit not stopping commit from taking place"
Hi :wave:

when running `git commit` or `git push`, husky executes the linter but does not stop the commit / push from taking place even though the linting returned errors.

I have the following setup:

[code]

[code]

I'm running `git commit` or `git push` in the `/docker-container-web` directory.

Does anyone have some ideas / suggestion on what might cause this?

Thanks 🙂

[2017-04-08 04:46] redoPop commented on #92
Looks like Husky exports these arguments to a `GIT_PARAMS` environment variable, which you can pass along to your Bash hook like so:

[code]

[2017-04-08 13:55] JPeer264 commented on #112
Sorry I didn't see that reply. I guess `process.exit(0)` cause this behavior, as this will exit the entire nodejs program.

[2017-04-08 19:30] phiresky commented on #36
Our project has multiple submodules placed in a root `node_modules` folder to make dependencies easier, see [this description](https://archive.fo/2015.02.04-234529/http://allanhortle.com/2015/02/04/store-your-client-code-in-node_modules.html). Is there any way to get husky to work with this directory structure?

[2017-04-11 09:37] luke-oneill opened #117 "Hooks fail if user directory has apostrophe in it"
My user directory has an apostrophe in it (I know... not a good idea, I've found similar bugs in many different scripts). This means that any hooks fail with the following message:

[code]

The problem line in question is actually line 24 in `pre-commit`:
[code]

I can fix manually but changing it to:
[code]

but I need to do this after each time I clear my node_modules and run npm install again.

[2017-04-11 14:43] piperchester opened #119 "Discussion: what would take us to build and ship husky to a v1?"
Noticed we're still at 0.13.x... anything holding us back?

[2017-04-12 11:33] kenoyer130 opened #120 "Husky states does not overwrite existing hooks but seems to"
We have an existing local pre-push hook bash script. Whenever we run npm install this script is deleted and replaced with the husky script. How do we prevent this?

[2017-04-12 13:57] evilebottnawi opened #121 "Reduce package size"
Package contains unnecessary directories- `test`, `.travis.yml`. I can do PR if your accept this issue.

[2017-04-12 14:47] piperchester commented on #68
@jozsi is this issue still relevant?

[2017-04-12 14:52] jozsi commented on #68
@piperchester - I moved away from developing inside Docker. The key error is:
[code]

It should traverse to `/usr/src/web/` which is the git repo and contains the source code.

The `node_modules` folder is mounted from a different volume than it's parent (source code). It's strange that running through `npm install` it hit that technical limitation, but it works correctly if I manually invoke the

[2017-04-12 14:52] #68 closed

[2017-04-17 19:23] danawoodman commented on #109
Similar issue here:

[code]

[2017-04-17 19:29] ORESoftware commented on #109
yeah this seems bad Husky maintainers, can you take a look

[2017-04-17 19:53] danawoodman commented on #109
@typicode any thoughts on this?

[2017-04-20 18:19] oakley808 commented on #98
I'm seeing this too. I'm in a monorepo where my `.git/` folder is up many levels from my `package.json` file, similar to the example from @WiseBird above.

[2017-04-22 07:38] glebec commented on #116
Why is your lint script returning 0? It will always pass in that case. You're basically throwing away the error code from standard. Unless I am misunderstanding some aspect of shell scripting, which is very possible.

[2017-04-24 11:33] typicode commented on #109
Hi,

Thank you for the details and sorry for the delay, I'll have a look.
What's your version of Node?

[2017-04-24 16:32] danawoodman commented on #109
@typicode `v7.8.0`

[2017-04-24 17:02] ORESoftware commented on #109
I am on Node v 6.9.5

[2017-04-25 10:56] typicode commented on #120
Hi @kenoyer130,

I can't seem to be able to reproduce:

[code]

`pre-commit` isn't modified in the example above.

And the related test passes:
https://github.com/typicode/husky/blob/master/test/index.js#L86

There's 2 cases where husky will replace a hook:
- if it contains `#husky` string in it
- it it contains `// Generated by ghooks`

So I don't really know why it gets deleted.
If you do this,

[2017-04-25 15:39] glasserc commented on #27
See also https://github.com/okonet/lint-staged/issues/62 which is working on this issue.

[2017-04-28 21:08] onbjerg commented on #102
@elektronik2k5 Are you going to do this or is this open for grabs? Also what does @typicode think? :)

[2017-05-03 18:04] tomas-sereikis opened #123 "Support git extras?"
Currently husky only supports only native git hooks and this stops this possibility to be combined with git extras? Any ideas to combine them them in or to pass path to hooks.json?

[2017-05-04 06:14] kuncevic opened #124 "How would you skip the hook?"
Say I did a `git commit` that triggered the `precommit` then on `git push` with `prepush`,  I realized I missed something really not introducing any issues like spelling, etc so then I do not want `precommit` and `prepush` to be run again as it time consuming and I know that everything just fine in that case.

So how would I skip the hook to be running again ?

[2017-05-05 08:51] krishna63 opened #125 "Husky skipping hooks while commit from GIT GUI"
Hi Everyone,

I have used husky with "validate-commit-msg" npm module, when i make the code changes and do the commits from the GIT CLI it is working, but when i try to commit from the GIT GUI, the commit-msg hook is being skipped.

Note:  nodejs is installed in my <<custom path>> , not in the "C:/Program Files/" directory

Any help would be appreciated

[2017-05-05 22:04] damusnet commented on #49
Hi, somehow I still that exact same issue as well:

**OS:** macOS Sierra 10.12.4
**GUI:** GitHub Desktop
`which node = /usr/local/bin/node`
`node --version = v7.9.0` installed with Homebrew
`"husky": "^0.13.3"` with `yarn add husky --dev --force`

Am I missing something? Thanks in advance!

[2017-05-05 22:19] damusnet commented on #49
Nevermind! I just had removed another precommit lib (`precommit-hook`) and had to remove all hooks `rm -f .git/hooks/*` and run `yarn add husky --dev --force` again. Now all works fine!

[2017-05-08 07:45] elektronik2k5 commented on #102
@onbjerg feel free to take this, I don't have the time right now :(

[2017-05-08 11:18] onbjerg commented on #102
#126 🎉

[2017-05-08 11:47] onbjerg commented on #125
Possibly related to #105

[2017-05-08 11:48] onbjerg opened #128 "Proposal: Husky options"
There's a few issues that all ask for different options in Husky. My proposal is to add an optional ``husky`` section in the ``package.json`` where you can configure Husky.

Issues that could potentially be solved:
- #105: Should ABORT if npm not found
- #111: Silence echos

[2017-05-08 11:52] onbjerg commented on #43
@typicode @piranna It seems to forward the exit code on npm 4.2.0. 🎉  Not sure if it does that from an earlier version.

[code]

[2017-05-08 11:59] onbjerg commented on #124
``git commit --no-verify`` and ``git push --no-verify`` should work?

[2017-05-09 01:31] cs-miller commented on #84
still experiencing this

[2017-05-09 06:02] #124 closed

[2017-05-10 04:28] faceyspacey commented on #99
@duclet excellent. That's what it should be.

[2017-05-12 09:39] jitendravyas opened #129 "SyntaxError: Use of const in strict mode. with lint-staged"
❯ git commit -m "feat(grunt): testtttttt"

/Users/jitendravyas/app-v3/node_modules/lint-staged/src/index.js:6
const path = require('path')
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (m

[2017-05-15 22:06] tnguyen14 commented on #98
I am running into this issue as well. This happens because the node app is a child directory of the git repository. My guess is that it is caused by `lint-staged`, so I created an issue there https://github.com/okonet/lint-staged/issues/170

[2017-05-16 10:09] typicode commented on #125
Hi @krishna63,

Where is it installed? What installation method did you?

[2017-05-16 10:12] typicode commented on #121
Hi @evilebottnawi,

Good point, PR welcome for `test` and `.travis.yml`

[2017-05-16 10:13] #120 closed

[2017-05-16 12:47] krishna63 commented on #125
Hi @typicode :
i intentionally installed my nodejs in a separate folder other than program files, as i will not  have admin right in office , i installed it my personal folder in  "C" drive it self where i have complete access for that folder. Doing that way i can install what ever node modules i need

Is there any way like using of NVM or some thing that my hooks will be triggered when i try to c

[2017-05-16 13:29] onbjerg commented on #129
Seems like an issue in [okonet/lint-staged](https://github.com/okonet/lint-staged), not Husky.

[2017-05-16 16:07] typicode commented on #125
Can you try adding the path to your Node installation directory in Windows PATH? Or is it restricted too?

[2017-05-16 23:40] krishna63 commented on #125
I already mentioned nodejs installation path in the PATH environment variable

[2017-05-17 14:32] erquhart commented on #84
@typicode is this still in the works?

[2017-05-17 21:13] typicode commented on #84
@erquhart it seems to have been solved by `yarn` `v0.24.5`

[2017-05-19 15:28] ethyde opened #130 "How to deal with global/system Git hook."
Hi,

For some reason i have some Git-Hook installed at global/system level, like this one [git-good-commit](https://github.com/tommarshall/git-good-commit) as commit-msg, this one [prepare-commit-msg](https://gist.github.com/bartoszmajsak/1396344) and a simple `.gitmessage` template.

In my package.json i have :
[code]
If i run `npm run precommit` everythings work well, but when i try to commit so

[2017-05-19 16:21] ggTravelodge commented on #129
@onbjerg  not sure if that is true as I also get it for eslint
npm: '4.2.0'
node: '7.10.0'

/Users/gajjargaurav/test/service/node_modules/eslint/bin/eslint.js:16
const useStdIn = (process.argv.indexOf("--stdin") > -1),
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.

[2017-05-19 16:23] gajjargaurav commented on #129
@onbjerg  not sure if that is true as I also get it for eslint
npm: '4.2.0'
node: '7.10.0'

/Users/gajjargaurav/service/node_modules/eslint/bin/eslint.js:16
const useStdIn = (process.argv.indexOf("--stdin") > -1),
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:47

[2017-05-21 13:36] #84 closed

[2017-05-22 18:26] chrisblossom opened #131 "GUI Git Hook fails when env defined in .npmrc"
my .npmrc:
[code]

[code]

[2017-05-23 10:55] #121 closed

[2017-05-24 14:32] evenfrost commented on #84
Just faced the same problem with yarn v0.24.5, same with fresh yarn cache (i.e. after`yarn cache clean'). Only `yarn add --dev husky --force` helps.

Can be reproduced on my [booted](https://github.com/evenfrost/booted).

[2017-05-24 15:46] mmoutenot commented on #129
@gajjargaurav I ran into this, and it seems like Husky was picking the "wrong" node version. To fix, and force it to use the correct version via `nvm` I added an `.nvmrc` file with the version number I needed.

Hope this helps.

[2017-05-24 20:03] gajjargaurav commented on #129
@mmoutenot that is interesting as I don't use nvm I use https://github.com/tj/n

[2017-05-24 21:26] gajjargaurav commented on #129
@mmoutenot following your lead I investigated it further and found a solution!

I've added my answer on a [stackoverflow question](https://stackoverflow.com/questions/43932038/husky-giving-error-syntaxerror-use-of-const-in-strict-mode/44168690#44168690) I believe posted by the same user who raised this issue.

[2017-05-24 21:42] mmoutenot commented on #129
hooray!

[2017-05-26 20:03] dpikt commented on #81
For some reason the install script didn't trigger for me, so I just ran it manually and it solved the issue:
`node node_modules/husky/bin/install.js`

[2017-05-28 13:30] JPeer264 commented on #112
I also cannot reproduce it anymore.

[2017-05-28 13:30] #112 closed

[2017-05-28 16:06] typicode commented on #112
Glad it's solved, thank you for the update

[2017-05-28 16:21] typicode commented on #129
Thank you for the updates on this issue and sorry for the confusion.
To make it more obvious which version of Node is used, I've added `node -v` to husky output.

[2017-05-28 17:31] typicode commented on #84
Hi @evenfrost,

Here's what I did to test:

[code]

I was able to make `booted` work with `husky` this way (git needs to be initialized first in the target directory):

[code]

[2017-05-29 07:45] jhabdas commented on #119
It would take a major release. It's that simple. And you _should_ do it because people use you for their production products now that `ghooks` has been deprecated. Please cut a major.

http://semver.org/#how-do-i-know-when-to-release-100

If your software is being used in production, it should probably already be 1.0.0. If you have a stable API on which users have come to depend, you should be 1.0

[2017-05-29 08:14] jhabdas commented on #123
@Tomas-Sereikis did `ghooks` have the same limitation?

[2017-05-29 08:18] jhabdas opened #133 "Provide backwards config compatibility"
When `ghooks` deprecated in favor of this project it left a lions share of manual work. While it may seem inconsequential to the owners and collaborators of this project, it would be less work for `husky` to provide backwards compatibility than the man-hours which will be spent updating configuration.

For context, here are the current download statistics for the popular `ghooks` library:

<img wi

[2017-05-29 10:04] evenfrost commented on #84
Hmm weird, can confirm reproducing these steps manually fixed the issue for me. Will investigate my package workflow further, thanks @typicode.

[2017-05-30 04:00] pcoltau commented on #113
I also have this issue - any workaround for this?

[2017-05-30 05:02] pcoltau commented on #113
I investigated the issue further and concluded that this is in fact not an issue in husky.

The different available git hooks all have various parameters. The git hook "pre-commit" does not take any parameters, so `$GIT_PARAMS` will always be empty for this hook. On the other hand the git hook "prepare-commit-msg" has one to three parameters. See more at https://git-scm.com/docs/githooks

[2017-06-04 05:43] joncursi commented on #108
@typicode I'm having the same issue. Willing to try it out but I'm not sure how to convert the git-lfs code to JS

[2017-06-04 13:39] jaydenseric opened #134 "Sibling packages in a repo conflict"
With a project repo structured like this:

[code]

If you `npm install` each of the packages, the last to be installed destructively takes over. Installing or uninstalling husky in one of the sibling projects overwrites the git hooks.

This rules out husky for me, unless there is some clever config I am missing :(

[2017-06-04 13:42] jaydenseric commented on #134
Potentially related? https://github.com/typicode/husky/issues/36

[2017-06-07 09:03] jitendravyas opened #135 "How to hide this message on CLI "add --no-verify to bypass" ?"

[2017-06-08 10:27] rajinder-yadav opened #136 "Error: Cannot find module 'strip-ansi'"
I am getting this error

[code]

[2017-06-08 10:29] rajinder-yadav commented on #136
I only see the error on a freshly installed project, if I rerun my project `npm run build` script it seems husky is happy.

[2017-06-09 09:33] okonet commented on #93
I have similar use-case with post-checkout: https://gist.github.com/okonet/9706ec3b7f29e05109f3744fbc1fc91e

So I think parameters should be exposed for all hooks by default.

ghooks package does it but it's deprecated in favor of this one.

[2017-06-09 12:32] chrisui commented on #109
I'm getting the following error when running `npm install` in a circleci environment. This is with node `v8.1.0` and npm `v5.0.3`. There is a `package-lock.json` file present. The command `npm install` command works locally.

[code]

[2017-06-09 12:35] chrisui commented on #136
Looks similar to https://github.com/typicode/husky/issues/109

[2017-06-12 11:42] chrisui commented on #109
@typicode Do you think you will have chance to look at this soon? This is a blocker for us updating to node 8 (for whatever reason it's not working post update on our CI).

If you haven't got time right now I could take a look but would be great to have some pointers of where to start in the codebase! :)

[2017-06-12 13:09] typicode commented on #109
@chrisui seems like when `npm` runs husky's `uninstall.js` script, husky's dependencies are already uninstalled and so it fails.

Not sure how to fix it though. I'll try to have a look tonight.

[2017-06-12 13:12] typicode commented on #109
On your CI, maybe you can disable `npm` hooks:

[code]

This way it won't install husky, but it shouldn't be an issue since husky is a dev tool and not really meant to be run in a CI.

[2017-06-12 14:05] lifayt commented on #134
I find that I have similar issues - We store many front end widgets in a monorepo, and hooks being stored at a global level mean that a commit in a different subdirectory will trigger them.

[2017-06-12 15:17] chrisui commented on #109
@typicode This will interfere with all our other dependencies if they have script hooks, right? Will give it a go regardless. Thanks!

[2017-06-12 19:06] typicode commented on #109
@chrisui yes, unfortunatly. There seem to be an issue on npm that may be related
https://github.com/npm/npm/issues/11894

[2017-06-13 23:02] FJunior225 opened #137 "--no-verify to bypass is not currently working..."
Hello,

I am creating a custom prepare-commit-msg hook that appends an ID to the commit msg. If no ID is found within the message or branch name, I log an error and `exit(1)`. I `exit(1)` because I do not want to permit someone to commit a message without an ID. For some unknown reason, `--no-verify` does not bypass the commit message if an error occurs. I was hoping someone here can assist...
[co

[2017-06-14 05:03] alexeyten commented on #137
https://git-scm.com/docs/githooks

prepare-commit-msg [...] and it is not suppressed by the --no-verify option.

Actually, you should use `commit-msg` hook to verify commit message

[2017-06-14 17:01] jbcpollak commented on #49
I'm having this problem with nodenv installed, since `/usr/local/bin/nvm` doesn't exist. I don't have a solution yet.

[2017-06-14 17:41] FJunior225 commented on #137
@alexeyten that makes sense - is it possible to update Husky to not show `husky - prepare-commit-msg hook failed (add --no-verify to bypass)` message for prepare-commit-msg hook? Because if I am reading that correctly, `--no-verify` will have no impact on the hook and showing that message may be misleading.

[2017-06-14 18:40] typicode commented on #137
@alexeyten @FJunior225 very good point, I'll add it in the next release 👍
Thank you :)

[2017-06-14 22:46] typicode commented on #136
@rajinder-yadav thanks for the report.
FWIW `yarn` doesn't have this issue, but I'm working on a workaround in `next` branch for `npm`.

[2017-06-15 05:58] Tomas-Sereikis commented on #123
@jhabdas seems so

[2017-06-15 07:13] jhabdas commented on #123
Thanks for checking @Tomas-Sereikis. Looking over TJs repo it looks like he's [trying to avoid](https://github.com/tj/git-extras/issues/150#issuecomment-10078902) anything Node-specific (solid idea IMO). Could you point to the hooks docs? I didn't see anything after a quick glance at TJs docs.

[2017-06-17 06:48] Tomas-Sereikis commented on #123
it only has two more which are used for git release https://github.com/tj/git-extras/blob/master/Commands.md#git-release `pre-release.sh` and `post-release.sh` they take first argument as a tag if it is presented.

[2017-06-17 23:13] #129 closed

[2017-06-17 23:14] #72 closed

[2017-06-17 23:16] #20 closed

[2017-06-18 03:40] jhabdas commented on #133
No traction. Closing.

[2017-06-18 03:40] #133 closed

[2017-06-18 17:34] jhabdas commented on #133
Returned to `ghooks`. I've already got a `lint` script. I don't need a `precommit` script to run my `lint` script. Thanks. 🤣

[2017-06-19 08:04] daiict218 opened #139 "How to run lint-staged and shell script together in precommit?"
I have written a shell script which will run eslint on the staged file which I want to use in the precommit hook, but I also want to run lint-staged during precommit. How can I do that. My package.json looks something like this :

[code]

I tried using
[code]

but it didn't work. Can somebody help?

[2017-06-19 09:13] jhabdas commented on #133
@typicode fyi - https://github.com/ghooks-org/ghooks/issues/209

[2017-06-19 11:11] typicode commented on #133
Hi @jhabdas,

First, sorry for the lack of answer. To be honest, I don't always have the time to reply to all (even though I would really like to!) but I try to address them at some point or the community does.

For `ghooks` compatibility, actually I didn't see the benefit of supporting `ghooks` fields in `husky`, since they are 2 different projects and would force to maintain 2 styles of configur

[2017-06-19 13:07] jhabdas commented on #133
Sorry if it wasn't clear, but my main concerns were actually easing the upgrade path and not clobbering scripts. That could also be achieved by simply changing `pkg.config.ghooks` to `pkg.husky` and respecting the format.

Agreed. Automated or manual (current) it feels intrusive.

Nice touch.

Hope you're able to prioritize the migration over feature development as that's where most users could us

[2017-06-19 21:06] typicode commented on #136
Just published a new beta version that should fix it.
To try it:

[code]

Let me know if you still have the issue.

[2017-06-20 09:56] typicode commented on #102
Hi,

Sorry for the delay and thank you for the PR. I didn't know about this project 👍

While I'm using yarn for some projects, to keep things simple, I'd prefer to not have to support 2 different runners in husky.

A few issues that could happen too:
- Some people are installing yarn using `npm install -g yarn` (even if it's not the recommended). If they switch to another Node version using `nvm`,

[2017-06-20 12:10] rrsilaya opened #140 "yarn compatibility"
I'm using `yarn v0.24.5` without npm and have been encountering this issue:
[code]

[2017-06-22 08:02] okonet commented on #139
You should run `chmod +x tools/eslintscript.sh` once and commit the file into repository. It will persist its permissions.

[2017-06-22 08:10] okonet opened #141 "Post-checkout hook causing detached HEAD when using with `git pull`"
I'm using `postcheckout` hook that checks if `yarn.lock` file got updated and runs `yarn` on it:

[code]

but suddenly I start getting this after pulling a branch:

[code]

It looks like yarn is running okay but after it's done running, I get some unexpected errors from the hook. Any ideas?

[2017-06-22 08:13] okonet commented on #141
[code]

[2017-06-22 18:36] typicode commented on #141
Hi @okonet,

Could you retry with husky `v0.14`?

[2017-06-22 18:38] typicode commented on #136
Hey, just published husky `v0.14`, it should fix this issue.

[2017-06-22 18:38] #136 closed

[2017-06-22 18:40] typicode commented on #140
Hi @rrsilaya,

For the moment, it's an expectation/requirement to have `npm` installed.
When you install Node it should be shipped with it, or do you use a particular install method?

[2017-06-22 20:48] AntonPuko opened #143 "can't find .git dir on windows"
Hi, when I'm trying to install husky on windows, I get an error:
`can't find .git directory, skipping Git hooks installation`
I noticed that the problem is in find-parent.js. It splits by `/` separator, but in windows, I have paths with `\`.

[2017-06-22 21:48] typicode commented on #143
Thanks for the heads up, I'll have a look 👍

[2017-06-23 08:10] michalkvasnicak opened #144 "Pre-commit can't find nvm.sh"
After update from `0.13.4` to `0.14.0` `pre-commit` hook stopped working with the following message:

[code]

I downgraded back to `0.13.4` and everything works fine.

[2017-06-23 08:20] michalkvasnicak commented on #144
There is no `nvm.sh` in `/Users/Michal/.nvm/nvm.sh`. I tried to upgrade nvm using brew but this directory stays the same.

I have `nvm.sh` stored only in `/usr/local/opt/nvm`.

[2017-06-23 08:58] rekateka commented on #143
Can confirm; I rolled back to 0.13.4 and it works fine there.

[2017-06-23 09:26] okonet commented on #141
Seems better! Thanks!

[2017-06-23 09:26] #141 closed

[2017-06-23 12:19] alemhnan commented on #144
Same problem for me.

[2017-06-24 00:44] typicode commented on #143
A fix has been merged to master, I'll test it more tomorrow before publishing.

[2017-06-24 00:47] AntonPuko commented on #143
Thanks for the fast fix

[2017-06-24 10:00] Sibiraj-S opened #146 "husky runs ghooks twice"
**package.json**

[code]

I run `npm run commit`.

In this scenario, pre-commit happens before executing `git-cz` and again after while `git-cz` is making actual commit.

also this works well for standard git commit commands

[2017-06-24 13:37] typicode commented on #146
Hi @Sibiraj-S,

Try to rename `commit` to `cz`. It happens because npm when you run `commit`, npm automatically runs `pre*` and `post*` scripts.

[2017-06-24 13:41] Sibiraj-S commented on #146
Actually, I renamed it. then it when I got the error. Everything works fine. I posted the issue to let know of this condition.
Is there thing that could be done on these scenarios

[2017-06-24 13:42] Sibiraj-S commented on #146
If the behaviour is fine, Issue can be closed.

[2017-06-24 14:18] #110 closed

[2017-06-24 16:55] typicode commented on #144
Thanks for letting me know, just published a fix in `v0.14.1` :)

[2017-06-24 16:55] #144 closed

[2017-06-24 16:56] typicode commented on #143
Just published `v0.14.1`, it should fix it :)

[2017-06-24 16:56] #143 closed

[2017-06-24 18:49] #146 closed

[2017-06-26 08:40] typicode commented on #137
Fixed in `v0.14`

[2017-06-26 08:40] #137 closed

[2017-06-27 16:57] typicode commented on #134
I think it's going to be tricky to handle such layout. What about adding a `package.json` in:

[code]

with something like:

[code]

[2017-06-28 18:15] iRoachie commented on #140
@typicode When installing with yarn it doesn't set up the hooks

[2017-06-28 19:49] typicode commented on #140
Hi @iRoachie what's your version of `yarn`? It was happening before `0.24` but recent versions of `yarn` seem to have fixed it.

[2017-06-28 20:28] iRoachie commented on #140
@typicode 0.24.6

[2017-06-28 20:55] typicode commented on #140
Thank you, I'll give it another try

[2017-06-28 21:26] jedwards1211 commented on #77
@typicode I don't get it, if `husky` is run in a context where `node` isn't on the `PATH`, shouldn't it just fail?  Isn't it the user's responsibility to make sure `node` is on the `PATH` for `husky`?

[2017-06-28 23:08] typicode commented on #140
I can't seem to be able to reproduce. If anyone else can confirm.
Here's how I've tested:

[code]

[2017-06-28 23:43] iRoachie commented on #140
@typicode I'll try it again. Do you have to add both precommit and prepush for scripts to run?

[2017-06-29 13:05] rrsilaya commented on #140
This is also happening to me, running on `v0.24.6`.

[2017-06-29 15:12] yakhinvadim commented on #134
PR #13 is a bit old, but it might fix the issue.

[2017-06-30 01:18] BonuV opened #148 "Husky Installation Problem"
Below mentioned is the error message

npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn C:\WINDOWS\system32\cmd.exe;C:\WINDOWS\SysWOW64\cmd.exe
npm ERR! husky@0.14.1 install: `node ./bin/install.js`
npm ERR! spawn C:\WINDOWS\system32\cmd.exe;C:\WINDOWS\SysWOW64\cmd.exe ENOENT
npm ERR!
npm ERR! Failed at the husky@0.14.1 install script.
npm ERR! This is probably not a problem wi

[2017-06-30 23:07] #52 closed

[2017-06-30 23:09] typicode commented on #117
Hi @luke-oneill,

I think husky `v0.14.2` should fix it, thanks to @yurasid's PR.
Let me know if not :)

[2017-06-30 23:09] #117 closed

[2017-07-02 01:03] GAumala commented on #140
I can also confirm that it is still happening on `v0.24.6`. Please don't asume that npm is bundled together with node.js in every system. That is not the case some Linux distros like Arch.

[2017-07-05 16:35] typicode commented on #140
@GAumala good to know, thanks. Personally, on Linux, I'm always using [nvm](https://github.com/creationix/nvm), so it gets bundled.

Are you aware of other cases where `npm` isn't bundled?

[2017-07-05 16:44] typicode commented on #140
@iRoachie you can pick one or both, it'll work

@rrsilaya would you have steps to reproduce the issue? May be obvious, but `--ignore-script` flag shouldn't be set or it will prevent husky's `install` to run.

BTW `yarn` `v0.27.5` has been published, would be worth rechecking with the latest release.

[2017-07-07 14:23] pencilcheck commented on #129
Set the default nvm version so husky will use the correct one
https://eric.blog/2016/08/23/set-default-node-version-with-nvm/

[2017-07-08 03:02] hassankhan commented on #123
Similarly I'd love for Husky to support [Git Flow hooks](https://github.com/petervanderdoes/gitflow-avh/tree/develop/hooks) .

[2017-07-08 05:51] hughryan commented on #140
Installing with `yarn v0.27.5` is not setting up the hooks.

[2017-07-08 17:58] GAumala commented on #140
I don't know of other systems that don't bundle `npm` with now, but Arch is pretty big, and other distros like Antergos and Manjaro rely on Arch packages. Now that `yarn` is pretty popular I'd expect more distros to do this as well, Arch just did it first because of its rolling release model.

btw, I tested with `yarn v0.27.5` and it does setup the hooks. it just throws an error because I don't ha

[2017-07-09 22:24] gaastonsr commented on #140
I just tested with the last version of yarn (`0.27.5`) and it works.

[2017-07-09 23:11] MIGUELWAXX commented on #140
cheers

[2017-07-10 03:28] #140 closed

[2017-07-11 09:26] fcarreiro opened #151 "[enhancement] Custom npm binary/script"
Hi all!

I have the following use case: I have a few projects where we use Docker in the development environment. Basically, I don't have node/npm installed in my computer. I do have git, but everything else is encapsulated in the docker containers.

The problem, as you can probably foresee, is that even though husky gets installed and the hooks are setup correctly, it fails when trying to find no

[2017-07-14 21:37] premiumwd opened #153 "lint failures don't fire precommit hook"
precommit script runs and commits when I have lint errors. Suggestions?

[2017-07-14 22:53] premiumwd commented on #153
[code]

[2017-07-14 23:22] typicode commented on #153
What linter are your using? The command must exit with a non-zero code to prevent the commit.
Is there anything else running after the linter?

[2017-07-14 23:26] premiumwd commented on #153
I am using three commands for precommit:
[code]
and the following packages for linting:
[code]

[2017-07-15 01:17] typicode commented on #153
try to remove `--force`, it seems like `force` makes it succeed even when there are errors:
https://github.com/angular/angular-cli/wiki/lint

[2017-07-15 03:12] premiumwd commented on #153
@typicode thx bro, worked.

[2017-07-15 03:12] #153 closed

[2017-07-19 10:51] Alexintosh opened #154 "The same task works with 'precommit' but doesn't with 'prepush'"
Hello,

This is my package configuration in the package.json
[code]

I'm now trying to switch the hook from precommit to prepush, when I do that the even if the tasks have no errors and exit with 0 the push doesn't go through.

Any help?

[2017-07-20 13:50] KSuttle-cng opened #155 "Tower for Mac: "Publish" feature doesn't trigger husky"
This is more of an FYI, as I don't expect the maintainers to fix a proprietary client's edge case, but I thought you should be aware anyway.

https://www.git-tower.com/help/mac/branches-and-tags/publish-branch

[2017-07-21 15:44] KSuttle-cng commented on #155
Gonna close this for ya.

[2017-07-21 15:44] #155 closed

[2017-07-22 08:46] JohnAllen commented on #113
Anyone fix this?  When I run my `prepare-commit-msg` in .git/hooks it works properly and the commit-message is available as $1 but no additional params are passed when using husky.

[2017-07-22 09:08] JohnAllen opened #156 "How to access $GIT_PARAMS in bash hook?"
There are no extra params passed to a bash hook.  `$GIT_PARAMS` does not work.  (I have googled this extensively and not found any examples, same with the issues)

The bas hook is properly called but the commit message that is normally available as `$1` in a normal prepare-commit-msg hook is not available, nor is `$2` or `$3`.  So how can I actually use an existing bash hook to prepare-commit-msg

[2017-07-24 14:32] ghost opened #157 "Suggestion: Don't re-run if nothing has changed"
I'm not sure if this is more difficult technically than I'm imagining, but if the index hasn't changed since the last run, the prepush hooks shouldn't run again.

[2017-07-24 16:22] alexeyten commented on #157
I guess this kind of _magic_ should be in prepush hook.

[2017-07-25 10:49] jitendravyas opened #158 "git hook to run a command after `git pull` if a specified file was changed.In this example it's used to run `npm install` if package.json changed"
How to to do the same with this husky https://gist.github.com/sindresorhus/7996717 ?

[2017-07-25 13:17] thedamon opened #159 "Documentation about behaviour on systems as husky is introduced"
I'm just curious about how including this will affect other developers on our team, and I didn't see a note about this in the readme.

We have a monorepo that uses a lot of different languages (with a java base). But my team is front end developers and we use js/css/all that good stuff in a subdirectory. If we add husky to our package.json subdirectory how will that affect:

1. people who haven't

[2017-07-25 18:59] typicode commented on #159
Good questions. I'll see how the README could be updated.

1. and 2. People who haven't run `npm install/yarn` won't have Git hooks installed, until they run it.
3. If Husky is installed and can't find `npm`, il will display a warning message and won't run scripts. In other words, it won't prevent people from committing, it'll just let them know it didn't succeed at running the hook.

Overall, Hus

[2017-07-25 20:11] andykais opened #160 "only check sibling projects with changes"
related to issue #134, but on a related problem. If I have the structure:
[code]
If I use the `precommit` script in `client/package.json` and change code in `admin/`, then the precommit script will be ran in `client/` regardless of whether or not there are changes in that subfolder. I propose that the husky find a way to store the hooks for multiple subprojects (like in #134 ) AND only run them if

[2017-07-26 17:39] KidsKilla commented on #108
@typicode No.

package.json
`"prepush": "git lfs pre-push \"$@\"",` or `"prepush": "git lfs pre-push",`

[code]

I suppose LFS requires parameters: https://git-scm.com/book/gr/v2/Customizing-Git-Git-Hooks
[code]

[2017-07-26 17:48] KidsKilla commented on #108
What would probably solve the issue: ability to add hooks code instead of replacing it.
For example:
`"postinstall": "git lfs update --force && cd ./node_modules/husky && npm run install -- --append"`

[2017-07-27 07:34] maxime1992 opened #161 "Husky + lint-staged: Possible only on staged files?"
Hi :)

I'm using Husky and lint-staged to make sure my code is well formatted with Prettier.

The thing is, into the pre-commit hook, it tries to lint only the file which have changed (thanks to lint-staged...) but not only the staged ones! So if what I've got in staging is fine and I have some code with bad format on the same file not staged, it says that there's an error.

I'm not sure the stagi

[2017-07-28 14:03] lasergoat commented on #49
@jbcpollak did you figure it out?

[2017-07-31 13:39] mrmartineau opened #164 "Different outputs when running `npm run precommit` vs `git commit`"
I'm experiencing differences when I run these two commands:

[code]
and
[code]
Running the `npm` command seems fine, but when I `git commit ..`, the tests fail. Are the two things not supposed to be the same or are there other differences?

By the way, I am using lint-staged, which is running some tests on the staged files.

[2017-07-31 18:22] MimoMoreno opened #165 "Husky pre-commit checks the files of the filesystem, not the ones in the git index"
I don't know if in any of the closed issues this has been already discussed.
I'll put an example to reproduce the issue:
Let's suppose that a file has a linter error, so that husky doesn't allow to commit. If I change the file, fixing the error, I can commit it **without** doing `git add fileName`; so I'll be committing and pushing a wrong file.

[2017-07-31 19:15] typicode commented on #164
They are supposed to be, you may want to check that the right version of Node is picked by husky (it's displayed when you run `git commit ...`).

AFAICT that may be the only difference.

[2017-07-31 21:55] typicode commented on #165
Hi @MimoMoreno,

It's on purpose, husky doesn't do more than running associated `npm` scripts. The benefit is that it won't do anything magical so it's simple to predict/debug.

For your case, maybe [lint-staged](https://github.com/okonet/lint-staged) could help :)

[2017-07-31 21:55] #165 closed

[2017-08-01 10:09] mrmartineau commented on #164
@typicode thanks. I'll take a look today and get back to you.

[2017-08-04 01:17] nxmohamad commented on #164
@mrmartineau I'm experiencing a similar issue. have you made progress with yours?

[2017-08-04 01:37] nxmohamad commented on #130
try checking your .git/hooks/pre-commit file

[2017-08-04 15:17] mrmartineau commented on #164
@nxmohamad nope, I haven't been able to figure it out. I stopped using `lint-staged` and that seems to improve things. Will keep you posted if I find anything out

[2017-08-04 17:02] nxmohamad commented on #164
so I made a mini break through in my case. tell me if this worked for you.

1. Did you use any other packages for git hooks before? If so there might be remnants of the old hook.

In  my case, the command in .git/hooks was different. Check out what yours is.
I ended up ditching husky and just cutomising my own pre-commit.

[2017-08-05 15:47] GuillaumeHumbert commented on #81
The same thing happened to me, I installed husky _via_ Yarn and the install script did not trigger. I spent way too much time narrowing down the problem and finding this topic.

Maybe consider changing the title to a more representative one, and reopening to fix the installation with Yarn? Or is it more on Yarn's side that a fix must be made?

[2017-08-08 04:27] cdaringe commented on #36
@ljharb, fair concerns. although it's unconventional for non-`node_modules/`-contained effects to occur oninstall of a package, the purpose of this package is precisely that side-effect.  it's explicit opt-in.  there's some danger, but the risk is the same risk as trusting whatever tarball comes down the line per usual, no?  further, it only happens in dev mode, so prod shipments are unaffected.

[2017-08-08 04:47] ljharb commented on #36
@cdaringe What would be explicit opt-in is if the requirement was to add `"postinstall": "ghooks --init"` or similar to "scripts". This is implicit, not explicit, because simply by adding a dependency, something *other than installing* happens.

[2017-08-08 12:50] davidfurlong opened #167 "Not a git repository"
Im trying to use husky where I have this kind of directory setup:
[code]

and I get the error
[code]

Is there a way to tell husky where to look for git ?

[2017-08-09 08:54] liangnianbing commented on #16
这个问题我没看懂啊

[2017-08-09 19:14] iamfreee commented on #167
You have to add a property `gitDir` to lint-staged.

[code]

https://github.com/okonet/lint-staged#working-from-a-subdirectory
https://github.com/okonet/lint-staged/issues/170

[2017-08-10 07:31] #167 closed

[2017-08-10 18:37] bclinkinbeard opened #168 "0.14.3 seems broken"
A basic setup that works with 0.13.3 doesn't run at all with 0.14.3.

[code]

[2017-08-11 00:35] #168 closed

[2017-08-11 12:01] TechQuery commented on #113
@JohnAllen , you can get the **commit message** by code like below:

[code]

[2017-08-11 12:31] TechQuery commented on #97
@Thatkookooguy , you can set the **commit message** by code like below:

[code]
just like what Vim or other command-line editor does~

[2017-08-16 00:42] craigryan opened #169 "Disable prepush on remote branch deletes"
I don't fancy running the prepush hook and a full lint + test run in my case just when deleting a remote branch either via command line or within Sourcetree.

Ideally husky should handle either

`git push origin :mybranch`
`git push origin --delete mybranch`

as deletions rather than push commands and not fire prepush.

[2017-08-17 12:02] evgenizhuk opened #170 "Install task works incorrect if migrate from pre-commit"
Husky doesn't replace .git/hooks/pre-commit script when when it replaces [pre-commit](https://github.com/observing/pre-commit).
Now I'm using pre-commit package and when it installed it checks `.git/hooks/pre-commit file`. In case this file exists pre-commit beck-upped it and creates new one, old file gets extension .old.
When we uninstall pre-commit with `yarn remove pre-commit` old file restored

[2017-08-20 00:32] Thatkookooguy commented on #97
@TechQuery thanks! that's exactly what I needed! :-)

[2017-08-21 03:35] Frexuz commented on #161
Exactly the same situation here.

[2017-08-23 15:56] Peeja opened #171 "Not clear how to use Husky with existing hooks"
I have a pre-commit hook already. Husky, kindly, does not overwrite it when it installs. However, I'd like to run Husky's pre-commit hook as well. There doesn't appear to be an easy way to do that. The best I can imagine is to create a new project entirely, install Husky into it, and copy that pre-commit hook into my own.

Is there an easier way to do this that could be documented? And if not, is

[2017-08-24 20:11] SuEric commented on #160
I'm also looking for this :/

[2017-08-24 20:12] SuEric commented on #134
What's the status of this?

[2017-08-25 11:05] typicode commented on #171
If you move your hooks in `project/hooks` and have for example:

[code]

This way husky would run your pre-commit script and tests.

Would that work for you?

[2017-08-25 11:08] typicode commented on #170
Hi @evgenizhuk,

I think a PR to automatically migrate pre-commit hooks would be great in order to avoid such issues. Husky already does this for ghooks, so it should be simple to add support for pre-commit :)

[2017-08-25 11:14] typicode commented on #169
I don't really know how it could be done, and may be out of scope for Husky as it just runs scripts associated to Git hooks, nothing more.

That said, if you run the command with the `-n/--no-verify` flag (`git push origin :mybranch -n`) maybe you can skip the hook :)

[2017-08-25 11:30] typicode commented on #160
Hi @andykais,

TBH I don't really see how it could be done in a simple manner.

A few questions would need to be solved:
* When you uninstall husky from a project it would have to remove the reference to the project
  * If it's the last place where husky is used it should also remove all hooks
* What about multiple version of husky and therefore multiple version of hook scripts and if you uninstal

[2017-08-25 11:50] Peeja commented on #171
This isn't a hook shared by the rest of my team, this is a personal hook that comes from my git template, so I can't change the codebase to accommodate it.

[2017-08-25 16:26] noamokman opened #172 "env variable to prevent install"
Hi,
Can we add an env variable to disable the install script?
something like the CI detection.

Let me know if I should open a PR.
Thanks

[2017-08-26 03:57] prathees commented on #98
I had the similar problem (lint-staged to be run on a sub-directory within the main project). Following issue and its solution , resolved it.

https://github.com/typicode/husky/issues/167

[2017-08-28 03:58] Sibiraj-S opened #175 "Error running commands in Windows"
While running this

`"precommit": "SET NODE_ENV=production && node_modules/.bin/webpack",`

with husky, it is reporting that unable to find `node_modules` command not found. but when I execute the precommit without husky i.e., `npm run precommit` It is working fine.

[2017-08-29 12:32] schacki commented on #123
I would also like to see support for Git Flow hooks. Is this only a matter of extending hooks.json, or is this more complicated?

[2017-08-29 21:11] typicode commented on #171
(wrong tag, wanted to put it on another issue)

I see.

As an alternative, you could make it so that `husky` doesn't overwrite the `pre-commit` hook by removing `#husky` line. This way, you could edit it to your liking and add your custom script.

The downside of it is obviously that you won't get updates, but that's maybe acceptable for your personal workflow.

Besides that, I can't think of anot

[2017-08-29 21:16] typicode commented on #172
Hi @noamokman,

What's your use case? Or what issues are you facing?

Alternatively, depending on your use case one of these solutions may work:
- you can use `npm install --ignore-scripts` but it will ignore all `postinstall` scripts
- you can only install `dependencies` and not `devDependencies` which would prevent install

[2017-08-29 21:21] typicode commented on #175
Hi @Sibiraj-S,

You can probably change your code to this:

[code]

`npm` automatically adds `node_modules/.bin` to `PATH`. This should solve the `node_modules` not found issue.

You may also want to check https://www.npmjs.com/package/cross-env for setting environment variable in a way that works on Windows, OS X and Linux.

[2017-08-30 04:51] noamokman commented on #172
Yeah,
I use husky on 2 generator project,
A part of the test it to run `npm install` on an inner folder.
The generated folder then installs husky on a folder with out a .git directory, so it traverses up to the git folder of the generator, this breaks existing hooks.

Adding a new environment variable should be quit simple.
Would be happy to do it for you.

Maybe `SKIP_HUSKY_INSTALL`.

Thanks!

[2017-08-30 05:27] Sibiraj-S commented on #175
Yeah I currently use this

but what if we have to run anything that is not in `node_modules/.bin` and I am not referring particularly to `node_modules`. It is just a scenario.

[2017-08-30 15:16] Peeja commented on #171
Well, it would be nice if there were a single line I could add to my existing hook that would invoke the Husky hook. Is that not possible?

[2017-08-30 19:48] typicode commented on #172
After giving some thoughts, PR welcome :)

Seems like there was something that was started to control installation:
https://github.com/typicode/husky/blob/master/bin/install.js#L10

`HUSKY_IGNORE_CI` could be refactored to `HUSKY_SKIP_INSTALL`

[2017-09-01 14:32] syzer opened #177 "error on OSX"
[code]

[2017-09-01 14:33] syzer commented on #177
after command:
[code]

[2017-09-02 18:37] darthwade opened #179 "Error: Cannot find module 'safe-buffer'"
Hi guys, I have next problem with precommit (node v8.4.0).
Thanks.

[code]

[2017-09-03 23:21] lucasqueiroz opened #180 "Husky fails to be installed"
I was trying to install `vtop`, and one of the steps is to install husky. When it gets to that point, it fails.
I tried installing husky outside vtop (with `npm install husky --save-dev`) and the same error happened:
[code]
Am I doing something wrong?

[2017-09-03 23:28] #180 closed

[2017-09-03 23:28] lucasqueiroz commented on #180
Apparently, on Ubuntu, there are two nodejs versions, and only one works.
Sorry for that.

[2017-09-06 16:47] kthjm opened #182 "there is no "main" property in package.json"
I tried use husky `precommit`, But didn't run.
So i examined and find the doubtful part, at least `v0.14.3` has no `main` property in package.json.
using `v0.13.4` that has `main` property in package.json worked well.

seeing issues but there are nothing about this, so this issue may be a wrong guess...but i just report.

[2017-09-06 18:01] kthjm commented on #182
sorry I was mistaken. e649c6b50b9f886c0281206cd45ee351e1420ad5

[2017-09-06 18:01] #182 closed

[2017-09-07 09:20] screendriver opened #183 "Disabling nvm use"
It seems that it is not possible to disable an automatic `nvm use`. For example I have a `prepush` commit and I want to ensure that everyone uses the same Node version. But what I don't want is to automatically use `nvm use` when I push because that would enforce to reinstall all dependencies and run the complete build.

So would it be possible to just disable the automatic nvm use and just warn t

[2017-09-07 11:51] awilkins commented on #77
Also running into this when using `ndenv` ... and the .node-version is 6.11.3 ... and the default system node is 6.11.2 ... and husky is still picking 4.5.0, because I *used* to use `nvm` and had it's folder hanging around and there's a copy of 4.5.0 in there.

This is failing from the command line.. with the `node` on my PATH being the ndenv shim.

Remove the `.nvm` folder and it all works as the

[2017-09-07 20:37] SuEric commented on #160
This doesn't sound like a solution, neither a work around. I don't get why doing `cd .. && npm install` ... That wouldn't work for multiple folders where each folder represent different things.

For example I've Backend and Frontend folder. Each of them has a `package.json` file.
Maybe husky should create N hooks? and put ea hook point to the  right folder `package.json`?
I don't know how doable i

[2017-09-11 12:11] jantimon commented on #49
@jbcpollak @lasergoat my work a round for nodenv is the following:
Create a new file: `~/.nvm/nvm.sh` with the following content:

[code]

As husky executes the nvm.sh it will also initialize nodenv.

[2017-09-11 15:42] rakhmatullov commented on #7
I still have the same problem. I have .git folder in upper folder than package.json and node_modules and I and npm precommit doesn't search parent folders for .git/hooks.

[2017-09-12 09:19] gkatsanos opened #184 "Precommit file : should it be in .gitignore? relative path produces git changes"
Hello, there was a file in our repo which was a pre-existing precommit script that was modified when we added husky.
`misc/pre-commit`

In it, there's
[code]

As you see there's a path that is modified someone else is running the script on his machine (its the home folder)

Should I include this file in .gitignore or did I do something wrong during the project setup.?

[2017-09-12 18:47] jbcpollak commented on #49
@jantimon that's a great idea - I'll try it. I had been installing a copy of node directly through homebrew, but I'll try this solution instead.

[2017-09-13 05:47] Sibiraj-S commented on #175
@typicode ?

[2017-09-13 08:13] matart15 commented on #161
+1

[2017-09-13 08:23] matart15 commented on #161
I want to know it is possible too.
I use husky+lint-staged like this
[code]
this command rewrites a file.
if we somehow manage to run precommit on only staged part of  file `eslint --fix` command rewrites unstaged parts.

[2017-09-17 18:19] zkochan commented on #61
I am working on a PR to husky that will fix all issues with pnpm.

[2017-09-19 16:15] #172 closed

[2017-09-19 19:47] IAMtheIAM opened #186 "Apply husky git hook to specific branch only"
Is there a way to configure husky to apply a specific git hook, i.e. `prepush`  ONLY to a specific branch i.e. `master`?

I know I can modify the hooks in the package, but that makes it more complicated because husky installs its own hooks, then I have to go overwrite it with a modified version using some scripts.

Mainly the purpose is to only run e2e or unit tests before pushing to master, but n

[2017-09-19 20:34] IAMtheIAM commented on #186
I modified the pre-push hook like this and it works like a charm

[code]

[2017-09-20 06:58] Sibiraj-S commented on #175
@typicode  is this fixed? I suppose it is working now?

[2017-09-21 22:13] corysimmons opened #187 "{*,**/*} doesn't work"
Use case: Auto-toc'ing all my `.md` files via https://github.com/jonschlinkert/markdown-toc

Attempted:

`"precommit": "markdown-toc -i {*,**/*}.md"`

Works if I just `node_modules/.bin/markdown-toc -i {*,**/*}.md`, but craps bed on commit. I'm assuming Husky isn't able to do wildcards?

[2017-09-27 22:09] abustamam commented on #187
Did you try running `npm run precommit`?

[2017-09-29 20:21] elyseholladay commented on #156
@JohnAllen GIT_PARAMS works for me when passed to .sh script file via `preparecommitmsg`. It won't work on `precommit`.

https://github.com/typicode/husky/issues/113
https://github.com/typicode/husky/issues/92

[2017-10-01 05:58] uhlryk commented on #164
I had same issue.
For me the reason was that git hooks desync with this library.
First check what you have in git hooks, for example for pre-commit:
[code]
In my case there was hook created by different hook library (not sure how it happen, but never mind).

What helped me"
 * uninstall old hook library
 * uninstall husky
 * install husky

Check hooks.

[2017-10-02 02:27] camsong commented on #144
it works,thank

[2017-10-02 02:49] gdumitrescu commented on #183
Try the engines option in package.json `https://docs.npmjs.com/files/package.json#engines` and then add `engine-strict=true` option in .npmrc `https://docs.npmjs.com/files/npmrc` with `npm config set engine-strict true`.

[2017-10-02 18:48] syropian commented on #130
@nxmohamad How do you run husky precommit scripts alongside an existing `.git/hooks/pre-commit` file? We have a ruby script doing some things in ours, but I'd also like to run an NPM task.

[2017-10-03 12:07] dragGH102 opened #189 "Why skipping "hook adding" is CI is present?"
CI is great and can make many checks.
However, why skipping the pre-commit (e.g. eslint) entirely and delegating the CI the failure? (unless I'm missing the point of the code @ bin/ here)

[2017-10-05 16:32] typicode commented on #189
Hi @dragGH102,

It's because most of the time CIs don't use Git commands that would trigger Git hooks. So there are no particular reasons for installing hooks, plus it may cause some side effects.

For example, Travis clones the repo and runs the commands in [.travis.yml](https://github.com/typicode/husky/blob/master/.travis.yml) but won't `git commit` anything.

Husky is mainly a developer tool t

[2017-10-06 07:50] valorize commented on #177
Please be more spefic in your title and the exact problems your facing.

[2017-10-06 11:59] valorize commented on #151
https://github.com/typicode/husky/pull/190

[2017-10-07 16:02] anazodo opened #191 "Failed at the husky@0.14.3 install script 'node ./bin/install.js'."
[npm-debug.log](https://github.com/typicode/husky/files/1366230/npm-debug.log)

[2017-10-07 16:05] anazodo commented on #191
I ran int this bug when I tried to build the Demo. I wanted to learn what the API is all about and how to use it. Is there any other way I can learn how use the API?

[2017-10-07 16:52] #191 closed

[2017-10-07 19:32] pepkaro opened #192 "Proposal: Add advice on how to use commit message hook"
In #28, a proposal was made to pass the commit message to the specified script. It was ultimately rolled back for good reasons, but it still meant I didn't have a good idea on how to make my husky commit message hook work.

I ended up doing a bit of searching to figure out how to make my commit message hook meaningful. It might be nice to add an "advice" file or a section to HOOKS.md to help guide

[2017-10-07 19:58] pepkaro commented on #192
If this sounds useful, I added a Pull request (#193) that adds this to HOOKS.md .

[2017-10-10 06:46] mcwebb commented on #134
We use @typicode's [solution](https://github.com/typicode/husky/issues/134#issuecomment-311419958) of simply having the githooks on the root repository which then makes calls in the subdirectories. As far as I can tell this solves the use case and provides the most flexibility.

[2017-10-10 17:58] TinOo512 commented on #183
I would love to have that also. We are using the same version of node and it's just slowing the pre-commit hook.

I can open a PR to handle an environment variable `HUSKY_SKIP_NVM` or `HUSKY_SKIP_NVM_USE` if you are willing to merge it?

[2017-10-11 08:30] j4zz commented on #109
For us, this was fixed with *npm 5.5.1* and *husky 0.14.3*.

[2017-10-11 11:30] typicode opened #195 "help test husky 0.15 (rc)"
I'm happy to announce Husky `v0.15-beta` (which may become `v1.0` if everything goes fine :))

`v0.15` is a complete rewrite with a new API. Overall `v0.15` code is much simpler, should better support `yarn`, `pnpm` and solve some of the opened issues.

Since it's a rewrite, for safety I'm publishing it under a `beta` tag.

If you give it a try, bug reports and feedbacks would be really appreciate

[2017-10-11 11:43] #189 closed

[2017-10-11 13:46] SuEric commented on #134
@mcwebb
So this mean I will have another `node_modules` in my root folder?

[2017-10-11 16:07] mcwebb commented on #134
Yes, containing only Husky and its dependencies.

[2017-10-15 19:55] typicode commented on #183
Hi @screendriver ,

The next release probably won't use `nvm` directly.

There's a beta if you want to give a try:
https://github.com/typicode/husky/tree/dev

It's still a beta though, so if you need something stable you should stay on `0.14`.

[2017-10-16 05:56] Nomadu opened #196 "npm ERR! husky@0.14.3 install: `node ./bin/install.js`"
Trying to build Wire-desktop. Saw elsewhere in comments that it might have something to do with version of node or the path. Am noob, unsure how to proceed.

npm ERR! Linux 4.8.0-53-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn

npm ERR! husky@0.14.3 i

[2017-10-16 17:57] screendriver commented on #183
Cool, thank you :+1:

[2017-10-17 10:49] typicode commented on #170
Automatic migration for `pre-commit` has been added in `v0.15 beta`
https://github.com/typicode/husky/tree/dev

Closing this issue :)

[2017-10-17 10:49] #170 closed

[2017-10-17 11:00] typicode commented on #187
Hi @corysimmons,

Not a 100% sure, but It may be related to the the shell it's running in. If `markdown-toc` supports it, you could try adding `'` around the glob pattern:

[code]

For example, [tape](https://github.com/substack/tape) and [prettier](https://github.com/prettier/prettier) add quotes in their examples so that they can do the expansion rather than the shell.

In any case, husky is neu

[2017-10-17 11:00] #187 closed

[2017-10-18 13:15] afreidz opened #197 "Is-CI module seems to be deleting environment variables."
https://github.com/typicode/husky/blob/5c6d1e6333de595826a853d61e85b354ab558bcb/bin/install.js#L9

In our project we make use of `process.env.BUILD_NUMBER`.  After digging around we are noticing that particular env variable is being deleted inside a `test.js` file within the module `ci-info` which is a sub-module you depend on via `is-ci`.  I cannot seem to track down how or where this `test.js` f

[2017-10-18 15:13] #197 closed

[2017-10-19 02:55] paulgv commented on #195
Hi,
I'm trying `v0.15.0-beta.10` on OS X 10.12.6.
I've added the following config to my `package.json`:
[code]
But the hook isn't triggered when I commit files.

[2017-10-19 17:53] statianzo commented on #195
Is the plan to remove nested directory support permanently?
https://github.com/typicode/husky/blob/dev/src/installer/index.ts#L121

My team's about to adopt husky, but it won't work for us without nesting support. Adding a package.json and running npm install in the root isn't an option because we don't own it.

Is there a way I could help out with bringing the feature back?

[2017-10-19 18:37] typicode commented on #195
@paulgv thanks for the report and the details! I'll try to reproduce.

How was Node installed (nvm, brew, ...)?
Where are you running git command from (GUI client like GitHub desktop, terminal, Atom, ...)?
Do you have this https://github.com/typicode/husky/blob/dev/templates/hook.sh in `.git/hooks/pre-commit`?

[2017-10-19 19:39] paulgv commented on #195
Hi @typicode
I was able to make it work thanks to your questions :)
Looks like the hooks in `.git/hooks/` where stuck on husky 0.14, I removed all the hooks and reinstalled husky and now it works like a charm!

For reference, here's the info you asked:
I'm running Git via the CLI (iTerm 2 & oh-my-zsh).
Node was installed with NVM.

[code]

Here's the contents of `.git/hooks/pre-commit` prior to re

[2017-10-20 10:01] denisflorkin opened #198 "npm test script is run instead of my custom defined "precommit" script"
Despite having `"precommit": "./hooks/precommit.sh"` in my package.json script section, it looks like when attempting to commit, the `npm test` script is run by husky instead.

Any idea why that could be happening ?

[2017-10-26 10:58] duckworth commented on #196
Same issue trying to install on Ubuntu 16.04 with node v6.11.4 and npm 5.5.1.
[code]

[2017-10-26 19:56] hammadzz commented on #84
I am encountering the same issue on yarn 0.27.5

[2017-10-26 20:41] jaufgang commented on #154
I am experiencing the same problem.  Also tested it out on `^0.15.0-beta.11`.
[code]
doesn't run the hook and allows code to be pushed when `tslint` fails, but changing it to `pre-commit` does cause the commit to fail.

[2017-10-29 17:38] zkochan commented on #61
This seems to be fixed in the beta version of husky! :tada:

[2017-10-30 14:00] rochapablo commented on #198
+1

[2017-10-31 00:14] typicode commented on #198
Hi @denisflorkin,

Not sure why it's happening, there's no reference to `npm test` in `husky` code actually.
What's the content of `precommit.sh`?

You may want to check the content of `.git/hooks/pre-commit`.

[2017-10-31 13:43] mnzaki commented on #125
I'm running into the same issue, but I think it's on the `git gui` side, seems like it commits with `--no-verify` (or at least as far as I can tell the `pre-commit` script is never even run)

[2017-10-31 14:42] matewilk commented on #77
@typicode comment helped me, but even though I'm on `husky` version `0.14.3` it still uses a default `mvn` node version. In my case the default is `6.11.2` but I use `8.7.0` and `husky` still uses the `6.11.2` version.

Just saying!

[2017-11-01 02:39] typicode commented on #160
@andykais I would say it would be quite complicated to maintain as sub-projects can be deleted, renamed, moved, ... fortunately, there are tools to manage monorepos :)

I would recommend using [`lerna`](https://github.com/lerna/lerna) + `husky` if you have multiple packages.

lerna comes with ways to run commands only for packages that have changed since "master" for example:
https://github.com/le

[2017-11-01 18:24] cdanielsen opened #199 "Husky blocks commit when prettier attempts to fix linting errors"
Similar to https://github.com/typicode/husky/issues/164, I'm experiencing differences in running `git commit` and having my `precommit` script invoked, vs running `npm run precommit` directly.

##### Some environment info:
[code]

##### Steps to reproduce
I've created a simple [test case sample repo](https://github.com/cdanielsen/husky-bug) with details/instructions.

Thanks for any help/suggestio

[2017-11-02 13:57] vanor89 opened #200 "pre-push only in x branch?"
Hey guys, title says it all pretty much, was just wondering if there was a way of running a script on pre-push but only for the `x` branch, if its `y` branch run this other script.

[2017-11-02 14:33] voroshkov opened #201 "Can't have a hook running in Windows"
Can you please help me understand how installed hooks are supposed to run in Windows?
Here's a piece of installed hook, which, being run in a command prompt produces an error on each line:
[code]

[2017-11-02 21:06] typicode commented on #61
Happy to support a project like pnpm ;)

2017-10-29 18:38 GMT+01:00 Zoltan Kochan <notifications@github.com>:

[2017-11-05 21:16] DaddyWarbucks commented on #200
I would really love support for this too. I used a package called git-validate that supported this: https://github.com/nlf/git-validate
Git validate has a different use case and different implementation. Because there are actual `installHook` and `configureHook` methods with configure the git hooks dynamically, this may not be possible in husky.
But the syntax of `"pre-commit#dev": ["lint"]` is re

[2017-11-06 07:48] sreichi commented on #200
You can also run powershell scripts there if you are on windows.
`powershell if((git symbolic-ref --short HEAD).Contains('feature') -or (git symbolic-ref --short HEAD).Contains('bugfix') -or (git symbolic-ref --short HEAD).Contains('hotfix')-or (git symbolic-ref --short HEAD).Contains('develop')){npm run ...;}"`
This worked very well for me

[2017-11-07 05:49] xml commented on #158
Hmmm... I haven't tried this yet, but, is there any reason you can't just save sindre's post-merge.sh into your repo, then set the package.json's `post-merge` command to run that script via husky? Would the variables no longer be correct?

[2017-11-07 10:15] pietro909 opened #202 "Use with git-worktree"
I'm using [git-worktree](https://git-scm.com/docs/git-worktree) and my folders are structured this way:

    project
    |-master
    |-develop

I've installed *husky* in `develop` and it doesn't run the hooks. I've found that the hooks are installed under `master/.git/worktrees/develop/hooks` while in `develop/.git` all I have is:

    gitdir: /Users/pietro909/workspace/app/master/.git/worktrees/

[2017-11-07 13:46] alexeyten commented on #202
What version of husky do you use?
It should be fixed in #114 that was landed in version 0.14

[2017-11-07 14:18] pietro909 commented on #202
I'm using ` "husky": "^0.14.3"` which should be fine.

[2017-11-07 15:33] victornoel commented on #161
See https://github.com/okonet/lint-staged/issues/62 (i.e., it's a problem with lint-staged, not husky)

[2017-11-08 11:37] nikuione opened #203 "can I cancel push in prepush process?"

[2017-11-08 11:43] alexeyten commented on #203
https://git-scm.com/docs/githooks#_pre_push

[2017-11-09 06:36] lcoder commented on #81
It takes me so much time.This help me . wowowoo

[2017-11-10 08:11] denisflorkin commented on #198
Hello,
sorry for the delai,

`.git/hooks/pre-commit` is as follows :
[code]

and the `hooks/precommit.sh`
[code]

When I try to commit it’s not invoking the precommit.sh, it looks like the npm test command is ran instead.

[2017-11-17 05:04] linkeo opened #205 "Cannot execute precommit hook if triggered inside `yarn run` or `npm run`"
**Do you want to request a *feature* or report a *bug*?**

Husky cannot execute precommit hook in `yarn run <script>`, because nvm cannot load correctly.

**What is the current behavior?**

Yarn cannot run this script:
[code]

But npm can:

[code]

Because `PREFIX` is mentioned above, I run these commands to check env:

[code]

Comparing the results, I notice yarn add `PREFIX=/local/bin` in `yarn

[2017-11-17 05:12] linkeo commented on #205
I tried to edit `.git/hooks/pre-commit` inside my project, change line 34 and 37:

[code]

Then it works.

But I'm not sure which is the better solution:
1. yarn should keep the environment of script clean, the same as the environment executing `yarn run`.
2. when husky loading nvm, ensure the environment is compatible with nvm (like what I do).

[2017-11-20 20:00] robdodson opened #206 "Is there an option to bypass or opt out of the hooks?"
Sometimes when I'm working on a project I might be experimenting in a branch and knowingly doing stuff that's wrong or might make my linter mad. Is there a way to tell husky to ignore my commit and not run a hook against it? I guess I could write this myself with an environment variable but it seems like a possibly useful husky option.

[2017-11-20 20:05] AlaaAttyaMohamed commented on #206
yes you can just write `git commit -m "bla bla" -n`
the `-n` will get you bypass the hooks

[2017-11-20 20:07] AlaaAttya commented on #206
yes you can just write `git commit -m "bla bla" -n`
the `-n` will get you bypass the hooks

[2017-11-20 20:08] AlaaAttya commented on #206
also you can use `git commit --no-verify` and `git push --no-verify`
`-n` means no verify

[2017-11-20 20:08] robdodson commented on #206
oh thanks! I just learned about the `--no-verify` flag 😄

[2017-11-20 20:08] #206 closed

[2017-11-21 08:09] tjk opened #207 "Using husky programmatically"
I have a patch that supports something like `husky.on('precommit', ...)` so that a node module can install required git hooks. Part of this involves disabling the `install`, `uninstall` npm scripts (I was looking for ways to do this conditionally depending on whether husky is a dependency or sub-dependency). Is there a way to do something like this already? Is this something husky would like to su

[2017-11-21 09:03] Chabane opened #208 "post push"
hello,

is it possible to have a postcommit/postpush? For example to tag your repository.

[2017-11-21 10:21] alexeyten commented on #208
There is post-commit hook.
There us no post-push becase git doesn’t provide one.

[2017-11-21 10:35] Chabane commented on #208
Ok thanks!

[2017-11-21 10:35] #208 closed

[2017-11-22 08:52] alexeyMohnatkin commented on #200
is there crossplatform soultion?

[2017-11-23 04:25] vincecoppola commented on #195
We're using `husky@beta` and so far it's been great—much faster! The only feedback I currently have is regarding the new top-level `husky` key that's required within `package.json`. We'd much prefer using a standard `.*rc` config file.

@typicode I've created #209 in hopes that you guys might also find this flexibility useful for the upcoming version that's in the works.

[2017-11-27 14:24] MartinMuzatko commented on #7
It would be nice to have a setting for this @typicode

[2017-11-27 15:47] MartinMuzatko commented on #167
This does not work, if you want to use husky without lint-staged

[2017-11-27 16:00] MartinMuzatko opened #212 "Changing work directory during npm script makes husky forget about git"
Hello!

This is my `precommit` script in `package.json`:

`"precommit": "cd server; scripts/update-sql-schemas.sh; git add schema.sql",`

It is important to run the script from `server/`, otherwise the path inside the script is wrong.
So I get this message:
[code]

[2017-11-27 17:33] MartinMuzatko opened #213 "Husky performs file staging (git add) too late"
Hello there! I'm using husky to update an SQL schema that should be added via `git add` on `pre-commit`

[code]

It looks like the file only gets added to git after the commit hook is run.
What am I doing wrong?
![commithook](https://user-images.githubusercontent.com/2950505/33278908-33113a90-d39d-11e7-84a2-eb93b886dcee.gif)

[2017-11-28 10:49] chenqiuxia commented on #77
@matewilk
[stackoverflow](https://stackoverflow.com/questions/43932038/husky-giving-error-syntaxerror-use-of-const-in-strict-mode)
I had same problem today and solved by this link.
I just deleted my $HOME/.nvm folder and everything worked fine

[2017-11-29 00:59] typicode commented on #212
Hi @MartinMuzatko,

If you run `npm run precommit` do you have the issue?

I assume your project structure looks like that:

[code]

Would you mind retrying with the following `precommit` script? Do you get `git status` output?

[code]

[2017-11-29 01:01] #203 closed

[2017-11-29 01:03] typicode commented on #212
Just saw afterward that you've found a fix in https://github.com/typicode/husky/issues/213 👍
That said, if you have the time, I would be curious to better understand this issue.

[2017-11-29 06:36] cdanielsen commented on #199
Nothin?

[2017-11-29 08:19] alexeyten commented on #199
Works for me
[code]

[2017-11-29 12:10] typicode commented on #96
@voxpelli you're right, a `v1.0.0` could have been released.

At the time, I felt differently and wanted to address some issues before (especially `yarn`, if I remember correctly).

There were also things I wanted to do, like: config support, have less logic written in shell, be less dependent to `npm` command, etc...

In the end, `husky` has been completely rewritten. Work is now happening in [`d

[2017-11-29 12:10] #96 closed

[2017-11-29 12:16] typicode commented on #207
Hi @tjk,

What's your use case/need? You can disable scripts globally when installing with `npm install --ignore-scripts` but that may be too much.

[2017-11-29 21:08] iamstarkov commented on #61
this is awesome. was it released?

[2017-12-01 19:40] Asuza commented on #213
I too want to know how to get this to work.

[2017-12-01 19:47] Asuza commented on #186
Could you also accomplish this by checking what branch you're in within your _package.json_ file? Something along the lines of this pseudo-code:
[code]

[2017-12-04 16:08] trent-boyd commented on #201
@voroshkov: I'm not a Windows user, but the first line (the location of the `sh` executable needed to run the hook) is the Mac/Unix location. Git ships with its own version of `sh`, so try replacing that with `#!C:/Program\ Files/Git/usr/bin/sh.exe` instead!

[2017-12-04 22:55] cdanielsen commented on #199
Thanks for the feedback; seems to be an isolated shell issue/configuration for me after all. Thanks!

[2017-12-04 22:55] #199 closed

[2017-12-05 07:22] voroshkov commented on #201
Sorry, guys, the problem is artificial. Googling gave me a lot of reasons why git hooks might not run. One of them was mine: wrong hooks folder in git config. There's no problem with executing husky's hooks in Windows and @trent-boyd really knows why ;)

[2017-12-05 07:22] #201 closed

[2017-12-06 19:35] TinOo512 commented on #195
[code]

[2017-12-08 06:01] lyyourc commented on #195
@typicode  Failed in Jenkins, a duplicate of #79

[2017-12-08 18:12] rcalabro commented on #108
+1

[2017-12-08 18:21] jedwards1211 commented on #77
@typicode

Is this no longer the case?  The hook script it gave me doesn't check for `node` on path at all, it just loads `nvm` regardless.

[code]

[2017-12-08 18:22] jedwards1211 commented on #77
@typicode and it calls `load_nvm` twice even if the first call succeeds, wasting extra time.

[2017-12-09 00:12] rochapablo commented on #198
When I run ```npm run tests``` there's no error

[code]

But running ```git commit```

[code]

Also that's not my node version, the real one is

[code]

[2017-12-12 12:45] yadomi commented on #183
Any update on this ?

As far as I understand [here](https://github.com/typicode/husky/blob/5e27cf888d5b0cebf5bb6bd9b1c2fb54911eb62b/src/utils/get-hook-script.js#L9), if husky is installed on non win32 platform, there is no way to disable nvm ?

This mean even if you don't use nvm, nvm will be load only because it's installed on the system. NVM is really slow to load and it's annoying when a commit

[2017-12-14 12:08] motss commented on #213
@MartinMuzatko @Asuza
With your solution, I managed to achieve what I wanted to. Almost all my projects need to load `.env` files and I'm looking for ways to auto-generate `.env-sample` files whenever I commit something. `"precommit": "npm run env; git add .env-sample"` is what I have been looking for! 👍

[2017-12-14 16:21] MartinMuzatko commented on #213
Does that work for you @motss ?
In my case, `git add` is only executed after the commit, as it looks like.

[2017-12-15 07:52] max-mykhailenko opened #216 "Pass custom path to the config file"
I can't create `package.json` near `.git` folder. We use subfolders for all client side stuff. How I can put path to my `package.json` in config?

[2017-12-15 12:41] motss commented on #213
`git add` does work.

Based on what I see, I think the command will run before commit which is why it's called `precommit`. Then before committing the git message, we need to `git add` any files that have been changed during the `precommit`. If not doing that, the message will be committed to `git` and any files that receive changes during the `precommit` will be staged.

[2017-12-17 16:04] UnifiedAmit commented on #16
❯ git push origin master --no-verify

It works..

[2017-12-18 17:32] kasparsd commented on #216
@max-mykhailenko Could you please provide some additional details on your setup? Are all project subfolders tracked in the same git repository? Does each project have its own `package.json` file?

[2017-12-19 04:02] BingBlog commented on #196
Same issue trying to install on Ubuntu with node v4.2.6 and npm 3.5.2.

[2017-12-19 07:10] max-mykhailenko commented on #216
All folders in the same git repository. Only one subfolder have `package.json` file.
My current folder structure looks like this
[code]

[2017-12-19 07:12] max-mykhailenko commented on #216
I found another solution without using husky. From git version 2.9 we can set `core.hooksPath` and I move all hooks to the git repository without any problems. So you can close this issue.

[2017-12-19 07:16] kasparsd commented on #216
Thanks for sharing @max-mykhailenko!

You could put another `package.json` file in the root just for that `precommit` hook, right? Or is there a reason it wouldn't work?

[2017-12-23 05:05] pjclutterbuck commented on #196
Same issue trying to install on Mint 18.3 (xenial based) with node 9.3.0 and npm  5.5.1

[2017-12-26 12:02] BigZ commented on #113
`"commitmsg": "./bin/commit-checks.sh ${GIT_PARAMS}"`

works for me.
$1 will contain the filename, and you can get the commit message with
`msg=$(cat $GIT_PARAMS)`

[2017-12-27 16:22] creaux commented on #108
+1

[2017-12-28 15:28] RayBenefield commented on #77
Just echoing as I ran into this today. Ran my tests manually fine and noticed my updated `precommit` hook was failing because it was missing `util.promisify`. Threw me off like crazy.

[2017-12-28 18:20] jedwards1211 commented on #77
Everyone please upvote my PR: #214

[2017-12-30 23:47] AndersDJohnson opened #220 "Support generic script to run on all hooks"
Support a generic `package.json` script name, e.g., `husky` or `githook` or `hook`, that runs on all hooks. The current hook name could be passed as an argument to this script. This will enable additional behaviors to be abstracted away and delegated to tools like [`react-scripts`](https://github.com/facebookincubator/create-react-app/tree/master/packages/react-scripts) from [`create-react-app`](h

[2018-01-02 09:40] griable commented on #123
Hi all,

I know this feed is now old but I think being able to add "custom hooks" would be convenient to some of us.

I did a [basic test](https://github.com/griable/husky/commit/e8862d9985af3710d392985a861ea8851f4a1ef8) adding [some git flow hooks](https://github.com/petervanderdoes/gitflow-avh/tree/develop/hooks) and it worked as expected.

Now I'm wondering how not to bloat this file with opini

[2018-01-02 10:22] HjoshM commented on #92
Should parameters after **$** always be enclosed within curly braces?

I am following the first simple example in the [Git Hooks Atlassian](https://www.atlassian.com/git/tutorials/git-hooks), but putting the following line in my **pre-commit** hook file throws an "**ambiguous redirect**" error message.

What am I doing wrong with this line?

[code]

[2018-01-05 03:00] Aghassi commented on #205
Would like to second this issue as I have run into it multiple times and have had to just break apart my steps so as to avoid this. I'm using `yarn` and `np` to release, and `husky` does not play nice when wrapped.

[2018-01-06 22:40] ryanbas21 opened #222 "windows `node is not a recognized command`"
![f268ce5a4e22904b856e78e2971c7623](https://user-images.githubusercontent.com/18267769/34644659-34d25f9e-f300-11e7-8bfe-5683802cc058.png)

I have node installed. Couldn't find anything that really helped me in my searches. I read something about my path, but node works overall. Is there a way I can configure this to work on my windows box and my mac.

[2018-01-07 17:42] mcpolandc opened #223 "‘git commit —amend’ triggers precommit hook"
Running ‘git commit —amend’ to edit commit message triggers the husky precommit that I have set up in my package.json.

[2018-01-08 06:15] leohxj commented on #205
Use husky@beta to reslove this problem...

[2018-01-09 03:54] linkeo commented on #205
@leohxj That don't solve my problem.

And I'm facing a new problem... It seems if git commit is happened inside a npm script, husky hooks cannot work fine because 'nvm is not compatible with the "npm_config_prefix" environment variable', and `npm run <script-name>` will set "npm_config_*" environment itself...

I can reproduce this problem inside docker:
[code]

Actually, I'm using `standard-versi

[2018-01-10 04:32] L0stSoul commented on #108
i have the same problem and to solve it i migrate from husky to git-hooks. both library is pretty similiar but git-lfs hooks work pretty well with git-hooks :)

[2018-01-10 05:59] alexeyten commented on #223
That’s  still a commit

[2018-01-10 06:19] xXValhallaCoderXx commented on #222
I also have been experiencing this issue at times on different systems

[2018-01-10 11:05] devlato opened #224 "Remove branch deletion triggers prepush hook"
Hi,

when I try to remove the remote branch with `git push --delete originname branchname`, husky triggers prepush hook. I think makes no sense to run prepush hook if the branch is being deleted anyway. 🤔

[2018-01-10 21:01] mcpolandc commented on #223
Thanks @alexeyten . After having a look at the official docs I believe you are right. It clearly states that this will 'Replace the tip of the current branch by creating a new commit.' - https://git-scm.com/docs/git-commit#git-commit---amend

I shall close this issue.

[2018-01-10 21:01] #223 closed

[2018-01-16 15:39] voxpelli commented on #119
Husky should already be considered to be a stable release due to the amount of people using it – thus it makes sense to release a 1.0 as has previously been pointed out.

That + have any future breaking changes result in a bump of the major version would be 🥇 👍

Anything new on this front since this issue was created?

[2018-01-16 15:41] voxpelli commented on #119
Noticed that #195 points out that it may become the v1, so seems like something has indeed happened on this front.

[2018-01-19 07:26] #175 closed

[2018-01-19 12:44] tomspeak opened #225 "Incorrect issue filed."
Incorrect issue has been filed, sorry.

[2018-01-21 19:58] leggomuhgreggo commented on #195
I might also be having an NVM issue.

Having an installation error when I run `yarn add -D husky@next`

[code]

[code]

Tried with and without a husky config in my `package.json` and for giggles deleted and readded `.git/hooks`

Let me know if there's anything further I can offer by way of debugging information. Thanks!

[2018-01-22 10:59] #212 closed

[2018-01-22 14:29] MartinMuzatko commented on #212
This is not fixed for me :( I'll come back with updates as soon as I have something.

[2018-01-22 23:28] typicode commented on #195
@leggomuhgreggo could you retry with the current `husky@next` version ? I've fixed an error when installing.

[2018-01-22 23:41] typicode commented on #222
How was Node installed? Could you try with v0.15.0-rc.3?

[code]

[2018-01-22 23:42] typicode commented on #212
@MartinMuzatko if that's not already the case, could you try with `npm install husky@next --save-dev`?

[2018-01-23 01:49] typicode commented on #156
Closing it, feel free to add a comment if you still experience the issue.
If that's the case I would be interested in knowing which tool/code editor/OS you're using to commit

[2018-01-23 01:49] #156 closed

[2018-01-23 01:50] typicode commented on #113
I think it's safe to close the issue. Feel free to update if you still have this issue with `husky@next`.

[2018-01-23 01:50] #113 closed

[2018-01-23 05:10] leggomuhgreggo commented on #195
That did it. Works like a charm now. Many thanks for the speedy attention 👍

[2018-01-23 12:10] #225 closed

[2018-01-23 12:54] rainboxx commented on #183
@yadomi according to the code, `nvm` should not run on win32 platforms at all.

However, the `dev` branch at https://github.com/typicode/husky/tree/dev has `nvm` functionality removed completely.

[2018-01-25 10:31] mavogel opened #227 "git hook install triggered via npm but not yarn"
## Do you want to request a feature or report a bug? => Bug

Installing the git hook is only triggered when `husky` is installed via `npm` but not `yarn` whereas uninstalling the hooks works for both tools. Similar to #81

## Current Behaviour
### Install
[code]

and `npm`
[code]

### Uninstall
[code]

and `npm`
[code]

## Expected Behaviour
`yarn add husky@0.15.0-rc.3 -D` should also trigger the

[2018-01-25 11:15] szimek commented on #68
We had a similar problem. We're running our tests in a Docker image and to get advantage of Docker build cache, we first copy `yarn.lock` file and all `package.json` files (we're using lerna), then we install dependencies and only after all dependencies are install, we copy all remaining files, including git repo. This causes an issue with `husky`, because at the time it's installed, there's no gi

[2018-01-26 02:30] markgoho-EDT commented on #195
![image](https://user-images.githubusercontent.com/33099374/35422483-e94e21a4-0216-11e8-99b8-fd90e1ba25b7.png)

Getting this on pre-commit and pre-push actions

[2018-01-27 02:52] goramm commented on #7
It works for me. This is my setup:

**project**
`yarn add --dev husky`

**project/package.json**
<pre>{
  "devDependencies": {
    "husky": "^0.14.3"
  },
  "scripts": {
    "precommit": "yarn lint && yarn test",
    "prepush": "yarn lint && yarn test",
    "lint": "cd subproject && yarn lint",
    "test": "cd subproject && yarn test"
  }
}</pre>

**subproject/package.json**
<pre>
"scripts": {

[2018-01-30 08:30] Jack-Works opened #228 "dependency of husky `run-node` might not be suitable on Windows"
In the project [run-node](https://github.com/sindresorhus/run-node ), I this in the readme.md

So run-node might cause an error on Windows, consider to not use it.

![image](https://user-images.githubusercontent.com/5390719/35555582-9934aaae-05da-11e8-8cf9-20728deb453b.png)

[2018-01-30 12:31] fernandopasik commented on #227
@typicode would merging #126 be fixing this?

[2018-01-30 23:48] typicode commented on #183
I confirm what @rainboxx said.

If you're not using `nvm`, husky won't load it. Husky can work without it, it will simply rely on the `node` command that is in the `PATH`.

And if you're on Windows, it will never try to use `nvm` because there's simply no Windows version of `nvm` :)

Also as @rainboxx mentioned, `v0.15` removes `nvm` functionality ;)

[2018-01-30 23:48] #183 closed

[2018-01-31 00:00] typicode commented on #228
Hi @Jack-Works,

Thanks for raising this issue.

When Git runs hooks, it should run them in a shell, so even on Windows it should work (e.g. `v0.14` is creating shell scripts https://github.com/typicode/husky/blob/master/src/utils/get-hook-script.js#L52)

I'm using husky on Windows + VSCode + PowerShell but didn't encounter this issue.
What are the tools you're using? How did you install Git?

[2018-01-31 00:17] typicode commented on #227
@mavogel thanks for the detailed issue 👍 that's super helpful :)
I'm not getting this issue with `yarn` `v1.3.2`, so not sure if it's related to `husky` install script. I'll have to try with `yarn` `v1.4.0`.

@fernandopasik https://github.com/typicode/husky/pull/126 could have but not really :)
The PR is only for picking between `npm` or `yarn` when running a `package.json` script (for example, it

[2018-01-31 00:27] typicode commented on #216
+1 thanks for sharing :)

Would be interested as well in the reasons why it's complicated to have `package.json` in the root just for `precommit` (even though I imagine that it's an organization issue).

[2018-01-31 00:27] #216 closed

[2018-01-31 00:34] typicode commented on #177
Hmm didn't really encounter something like that on OS X and not sure how to reproduce. Anyway I hope that you found a solution, feel free to open or comment on this issue if you encounter other problems with husky :)

[2018-01-31 00:34] #177 closed

[2018-01-31 00:34] #160 closed

[2018-01-31 00:35] #164 closed

[2018-01-31 00:40] typicode commented on #195
@markgoho-EDT Thanks for the feedback, What's your OS and how did you install Node?
Hmm the GitHub Desktop message is strange as it seems to say that there's no `pre-push` file.
What's the content of `.git/hooks/pre-push`?

[2018-01-31 02:26] Jack-Works commented on #228
Oh yes, in the shell environment, husky works
well. But in Gitkaren (a git gui tool), it doesn't work anymore. I've heard that in some system gui program will not inherit some environment they shell program will, is that the key ?

[2018-01-31 03:32] jasonkuhrt commented on #227
@typicode FWIW I'm using `v1.3.2`:

[code]

[2018-01-31 07:06] max-mykhailenko commented on #216
We try to keep `root` without environment specific files which used only in api or frontend. So changing `core.hooksPath` is more relevant for me. Thank you for participating 👍

[2018-01-31 10:09] syzer commented on #177
@valorize `prepushSection` can be undefined , that was my problem :D

[2018-01-31 16:13] carera commented on #198
@denisflorkin The fact that you have `./node_modules/pre-commit/hook` in your pre-commit file only means that you are also trying `pre-commit npm library which is most likely conflicting

[2018-01-31 23:31] markgoho-EDT commented on #195
@typicode here's the pre-push file

[code]

[2018-02-01 20:40] shiftkey commented on #228
This only works if you have access to Git for Windows, which bundles a bash shell and knows how to invoke it natively.

I work on GitHub Desktop, which ships an embedded Git that is stripped of much of the UNIX toolchain that comes with Git for Windows. We had a report about this change breaking for at least one user: https://github.com/desktop/desktop/issues/3860

Unless there are specific featur

[2018-02-02 01:09] typicode commented on #228
Thank you @shiftkey for the detailed explanation. I've just changed default branch to `master` again (i.e. `v0.14`) until it's figured out.

And `v0.15` is behind a `@next` flag.

I imagine that `run-node` really requires `bash` and couldn't work with `sh` only.

I'd like to avoid OS specific code or too much shell script. But maybe checking if `bash` is available then use `run-node`, else just fa

[2018-02-02 04:28] shiftkey commented on #228
I'm not really familiar with `run-node`, so here's what I did to test this theory. All commands are running in Command Prompt on Windows, to ensure I don't accidentally have a bash shell handy.

I have NodeJS installed, but it's not in my `PATH`, to ensure we're using `run-node` as best as possible.

[code]

Here's the contents of the `package.json` file I'm using to demo this:

[code]

Here's the

[2018-02-03 17:59] Falieson opened #229 "npm install 0.15.rc3 ENOENT: no such file or directory husky/lib/upgrader/bin.js"
**STR**
[code]

[2018-02-03 18:01] Falieson commented on #195
with `v0.15.0-rc.3` I can't install... https://github.com/typicode/husky/issues/229

[2018-02-04 07:24] rigobauer opened #230 "Can't commit: nvm is not compatible with the "npm_config_prefix" environment variable"
I have a project that was using commitizen without problems. I've decided to add husky to run precommit hooks with prettier. The problem is that when I run the 'npm run cm' command, I get this error...

[code]

I've removed prettier and try just husky and a basic 'npm run test' precommit hook, with the same error.  Obviously, I see the message, but I don't know if running `unset npm_config_prefix`

[2018-02-04 07:42] rigobauer commented on #230
Upgrading to the new husky beta version solved it!

[2018-02-04 07:42] #230 closed

[2018-02-04 18:12] GabrielDuarteM commented on #99
@typicode Is this still being looked at? I'd love to configure husky like @duclet specified...

Maybe without the `"hooksInConfig": true,` part, because if the user puts a `config.husky.hooks` section inside the `package.json` file, then it makes sense that it would be implied that it should be used instead of the npm scripts...

So, if `config.husky.hooks` is present, husky could use that and sto

[2018-02-04 22:00] typicode commented on #99
@GabrielDuarteM yes, actually `v0.15` version lets you define scripts in a dedicated `husky.hooks` field using raw names as suggested by @wzrdzl. You can even have a `huskyrc` file ;)

Corresponding README can be found in the dev branch:
https://github.com/typicode/husky/tree/dev

It has a known issue with GitHub Desktop on Windows (that is going to be fixed), that's why it's currently behind a `@

[2018-02-04 22:00] #99 closed

[2018-02-04 22:03] GabrielDuarteM commented on #99
Cool!

Looking forward to `v0.15` :)

[2018-02-04 22:09] typicode commented on #229
Hi @Falieson,

Thanks for the report. Can you try installing the published version on https://npmjs.com instead?

[code]

When husky is published to npm, `src` files get compiled to `lib`. If you install from GitHub, I don't think this step occurs, that's why `lib` directory can't be found.

[2018-02-04 22:12] typicode commented on #195
@markgoho-EDT thanks, the main cause was identified here https://github.com/typicode/husky/issues/228 a fix will be published.

[2018-02-05 04:31] csi-lk opened #231 "Husky not skipping install on 0.15.0-rc.3"
As per the documentation:

Have tried doing this in both the env and on the CLI

[code]

[code]

This is occurring as part of our build, so is within a docker container `node:8`

### To Reproduce

Dockerfile:

[code]

[2018-02-05 12:01] typicode commented on #231
Hi @csi-lk,

Thank you for the issue, I've published `v0.15.0-rc.4`, available under `@next` tag. It should fix the issue.
Instead of returning with a non-zero code, it should just display an error message but exit with 0.

[2018-02-05 12:05] typicode commented on #195
@travi thanks for the report, can you try with `v0.15.0-rc.4`, it should just display the `git` error message but shouldn't fail.

[2018-02-05 16:10] Alexis-benoist opened #232 "cd dist in pre-commit"
We have some people in the team who have in the line 12 of the pre-commit script a `cd "dist"` while some others don't have it.

Why is that?

How to disable it to only run the hook at "."?

[2018-02-05 21:45] typicode commented on #232
Hi @Alexis-benoist,

`cd "some/path"` is the relative path from your project directory to the directory containing `package.json`.
For example, if you have this structure directory

[code]

Then installing husky in B will result in this:

[code]

If you have multiple `package.json` containing there may be one that overwrites the others

[code]

[code]

Besides that, I'm not sure why you would have

[2018-02-05 21:48] typicode commented on #232
`v0.15.0` which is available under `@next` (currently a `release candidate`) approaches sub-projects differently, if you want to give it a try:

README https://github.com/typicode/husky/tree/dev
Docs https://github.com/typicode/husky/blob/dev/docs.md

[2018-02-05 21:58] typicode commented on #228
Thanks for all the testing!

`v0.15.0-rc.5` has been published under `@next` tag, it uses `sh` and generates a different script on Windows that doesn't rely on `run-node`.

So upgrading to this version should fix the issue on GitHub Desktop + Windows.

[2018-02-05 21:59] typicode commented on #195
@markgoho-EDT could you retry with `v0.15.0-rc.5`? It should fix the issue.

[2018-02-05 22:08] typicode commented on #184
Hi @gkatsanos,

Sorry for the delay. Next version of husky (`v0.15`) won't have absolute paths in the generated script anymore (like home folder) so I guess it's fine to close this issue.

If you still have this issue with `husky@next`, feel free to update.

[2018-02-05 22:08] #184 closed

[2018-02-05 22:12] typicode commented on #227
@jasonkuhrt and it's installing nothing with `v1.3.2`?

Can you try with

[code]

[2018-02-05 22:49] travi commented on #195
looks like that took care of it

i do still see the error in the logs, like you mentioned, but it does not fail:

[code]

https://travis-ci.org/travi/greenkeeper-keeper/jobs/337779201#L2126-L2129

thanks!

[2018-02-06 14:39] Falieson commented on #229
@typicode ah, that makes sense. thanks!
The reason I tried to pull it from gitlab is because I was trying `husky@beta` (per some suggestions) but that didn't exist!

[2018-02-06 14:39] #229 closed

[2018-02-06 16:22] Nxt3 opened #233 "Can't run upgrade script"
I'm using version `0.15.0-rc.5`.

Doing either `yarn run husky-upgrade` or `npm run husky-upgrade` doesn't work. I've even tried what is listed in your README and I get the following error:

[code]

Running with `yarn` yields the following error:

[code]

Yet, if I check to see if the `husky-upgrade` script is there in `node_modules/.bin/`, it is certainly there.

I've tried deleting the `node_mod

[2018-02-06 16:34] marcinlesek opened #234 "Hooks not found in clean install"
Hello,

after setting up by `vue-cli` `webpack template` I had a problem, that husky didn't get hooks and not working at all. I'm created test app by:
https://github.com/vuejs-templates/webpack

After that I added husky like in readme, so:

`npm install husky@next --save-dev`, gets:
[code]
and added to `package.json`:
[code]
while in `scripts` section we have:
[code]
and finally want to `git commi

[2018-02-06 16:42] Nxt3 commented on #234
I'm having the same issue. I had pre-existing hooks setup like so:

[code]

and then I moved them out manually like what is described in the `README`:

[code]

and they never get triggered.

[2018-02-06 20:50] typicode commented on #234
Thanks for the heads up, my bad I've recently switch from `bash` to `sh` and forgot that `[[` isn't supported in `sh`.

I've published another version (`rc.6`), let me know if you still have the issue

[2018-02-06 21:52] Nxt3 commented on #234
@typicode I tried rc.6 and my hooks still aren't working after upgrading.

[2018-02-06 22:51] typicode commented on #234
Hmm what's your OS? What do you have in `.git/hooks/pre-commit`? Do you use `.huskyrc`?

[2018-02-06 22:52] marcinlesek commented on #234
For me `RC-6` fixed this bug and now husky works properly. Thanks @typicode :+1:

@Nxt3 provide more details with your environment, I think it will help @typicode to resolve this issue for your specific case also. ;)

[2018-02-06 23:01] typicode commented on #234
I suspect that if you have configured `husky` outside of `package.json` (using `.huskyrc` or `husky.config.js`) it may be ignored. I just discovered this case a few hours ago but I'm preparing a fix.

@marcinlesek great 👍

[2018-02-06 23:05] Nxt3 commented on #234
@typicode I'm on MacOS 10.12.6. I have the hooks defined in my `package.json`.

[code]

and it's obvious from looking at this what the issue is. The hooks aren't upgraded.

I upgraded like so:

`yarn add husky@next --dev`.

Uninstalling and re-installing isn't an option since this app is used on a large team and requiring everyone to re-install the hooks is going to be difficult to enforce.

[2018-02-06 23:59] typicode commented on #234
@marcinlesek that's strange, when you run `yarn add husky@next --dev`, it should upgrade `.git/hooks/pre-commit` from `v0.14.3` to `v0.15` automatically. In any case, you shouldn't need to uninstall and reinstall husky.

It may be related to https://github.com/typicode/husky/issues/227. I've not yet been able to reproduce though.

And in a normal scenario, when your team run `yarn` it should upgra

[2018-02-07 00:03] Nxt3 commented on #234
@typicode (You're tagging the wrong person in your posts)

I think I'll wait for #227 to be resolved then. Thank you.

[2018-02-07 00:15] typicode commented on #234
ahah thanks (edited) :)
What's your version of yarn?

[2018-02-07 00:17] Nxt3 commented on #234
v1.3.2.

[2018-02-07 00:43] typicode commented on #229
Oh I see, `@beta` has actually been replaced by `@next` as it's closer to a `rc` than a `beta` now :)

[2018-02-07 12:34] cos2004 opened #235 "A weird problem about "node version manager: n" and husky"
I have a precommit hook, when I run "git commit", the terminal output "husky > npm run -s precommit (node v0.12.13)", buy my node version is 8.9.3 , maybe 0.12.13 is a very old version I installed long time ago. Why is it so ?

=======
os: mac 10.13.2
n: 2.1.7
node: 8.9.3
husky: 0.14.3

[2018-02-07 15:25] Nxt3 commented on #233
Might be related to #227 and #234

[2018-02-07 17:29] typicode commented on #235
Hi @yuli,

That's strange. You don't have an old `nvm` installed? Husky may load it if it finds a `~/.nvm` or `/usr/local/opt/nvm` directory, if not it should just use the `node` version that you have in your terminal.

[2018-02-07 20:09] ix-xerri commented on #154
At the moment if I run `npm test` the commit is paused but if I run `npm run lint` on an ionic project it commits. Warning are generated but it still commits

[2018-02-07 20:54] ix-xerri opened #236 "npm run lint does not stop the commit"
Currently trying to implement a precommit hook to an Ionic project using `"husky": "^0.15.0-rc.6"`. If I run `npm test` on precommit, the commit stop. It did not stop when running `npm run lint` even though warning are generated. To make it stop, I had to edit the pre-commit hook to:

[code]

Notice that I changed the exit code from `exit $?` to `exit 1?`

[2018-02-08 01:57] cos2004 commented on #235
@typicode  Thanks for reminding that I use "nvm" to manage node version long ago, but now I use "n"  instead of "nvm". The solution is to uninstall "nvm": rm -rf ~/.nvm

[2018-02-08 01:57] #235 closed

[2018-02-08 05:45] deecewan opened #237 "comiconfig .huskyrc does not work"
The hooks look like

[code]

It checks only `package.json` for the hooks, and ignores my `.huskyrc.json`.

[2018-02-08 09:40] #234 closed

[2018-02-08 12:20] simon360 commented on #195
One comment on versioning: a lot of projects will have `"husky": "^0.14.3"` in their `package.json`. If this gets released as `0.15`, anyone who isn't using a lockfile (or updates their lockfile) will get a breaking release.

In the interest of sticking to semver, I'm of the opinion that this should be released as `1.0.0`, regardless of whether or not it's considered perfectly stable.

[2018-02-08 12:43] jthegedus commented on #195
As our tooling works against us with semver and pre `1.x.x`, as stated by @simon360 , I agree with them. However, I just looked it up and the [semver spec](https://semver.org/#spec-item-4) states otherwise

I guess we just need to do our due diligence before upgrading.

[2018-02-08 12:55] microcipcip opened #238 "git add after webpack build"
Is there a way to `run build && run test` and then **add to the current commit the dist files** generated by webpack?
 For example with `git add -A ./ && git commit --amend --no-edit`? I can't manage to do this...

[2018-02-08 14:15] simon360 commented on #195
Huh, interesting @jthegedus - though, it makes sense, given that `react` took advantage of the pre-`1.0.0` behaviour for a while.

For example, if you enter `^0.13.0` on https://semver.npmjs.com/ with the `react` package, it won't automatically bump you to `0.14.8`, but if you used `^15.0.0`, you'd get bumped up to `15.6.2`.

Basically, I was wrong, so you can ignore me. Hopefully I'm not the only

[2018-02-08 14:45] ix-xerri commented on #236
Tried it on `"husky": "^0.15.0-rc.7"` and adding `"severity": "error"` but the commit still happened even if you have tslint warnings.

[2018-02-09 00:09] typicode commented on #237
Hi @deecewan,

Thanks for the report, I've published a fix (`v0.15.0-rc.8`). Let me know if it works better.

[2018-02-09 00:41] typicode commented on #195
Thanks for sharing and that's a good point about semver 👍

Some words about why it's `v0.15.0-...` instead of `v1.0.0-...`, I wanted to rewrite husky and wasn't sure if the new version would be viable or not. So to be on the safe side, I just bumped minor, and if it wasn't viable, I would just have continued with `v0.14.3` and maybe jumped to `v0.16.0`.

That said, as I'm getting feedbacks and fix

[2018-02-09 00:45] typicode commented on #227
I've published a new version if you want to give another try (just run `yarn add husky@next --dev`).
I've moved `v0.15` install script from `postinstall` to `install` (as it is in `v0.14`).

[2018-02-09 08:51] mavogel commented on #227
@typicode yep now the githooks are installed, although `yarn` does not log it on installing, while `npm` does. Nevertheless it works now with `rc7` 👍

[code]

how about you @jasonkuhrt ?

[2018-02-09 15:04] Nxt3 commented on #233
Yep this was fixed! Thanks for being so responsive. 👍

[2018-02-09 15:04] #233 closed

[2018-02-09 15:05] Nxt3 commented on #227
Fixed for me as well.

[2018-02-09 18:05] jasonkuhrt commented on #227
@typicode @mavogel seems good now!

[2018-02-10 07:40] sh7dm opened #240 "I have error in VS Code"

[2018-02-10 07:41] mavogel commented on #227
Fixed with [2b16499](https://github.com/typicode/husky/commit/2b16499858995dbbbb35813844e53b16cb312a19) and `rc7`

[2018-02-10 07:42] sh7dm commented on #240
This is my error:

"snyk" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
npm ERR! Test failed.  See above for more details.
husky > pre-commit hook failed (add --no-verify to bypass)

This is my package.json:

...
"scripts": {
    "dev": "backpack",
    "build": "backpack build",
    "test": "snyk test"
  },
...

  "husky": {
    "hooks": {
      "pre-commit": "npm test"

[2018-02-10 19:08] ix-xerri commented on #116
I looks like its still happening on 0.15.0-rc7. Running `npm run lint` on `pre-commit` and it is not stopping the commit if there are listing warnings.

[2018-02-11 12:07] alexeyten commented on #116
Warnings are not errors.

[2018-02-11 14:08] ix-xerri commented on #116
I'm trying to stop the commit if there are any warnings/errors. With `"defaultSeverity": "warning"` or `"defaultSeverity": "error"` but the commits are happening anyway. Is there something else I should add?

[2018-02-11 15:43] glebec commented on #116
@ix-xerri, what is `defaultSeverity` for? A linter? A plugin? And what is your script / config? How are you using Husky? There isn’t enough info in your post.

Husky is working as expected for me. If a script returns a nonzero exit code, the `precommit` hook fails and no commit is made. For us to help you debug your code we need to see what script you are using in `precommit`.

Also, the whole poi

[2018-02-11 15:50] glebec commented on #116
Thanks for the additional info. I assume your `lint` npm script just runs `tslint` then?

[2018-02-11 15:54] ix-xerri commented on #116
I then have `"lint": "ionic-app-scripts lint",` inside `"scripts"` but I have tslint installed inside `package.json`

[2018-02-11 16:02] glebec commented on #116
Ok… some observations:

* `defaultSeverity` applies to rules which do not themselves specify a severity level. Your rules (with `true`) will be affected, but it isn’t immediately obvious to me whether tslint’s recommended config (which you extend) specified severity levels or not.
* I would run `./node_modules/.bin/ionic-app-scripts lint` directly, with at least some rule failing, and test the exi

[2018-02-11 16:35] glebec commented on #116
I just set up a stock Ionic app as per https://ionicframework.com/getting-started. Husky's git hooks don't seem to be working with it, period. Debugging.

[2018-02-12 11:14] ix-xerri commented on #116
If you look at the first example in https://github.com/typicode/husky, there is a different setup. Should I remove the husky hook and add everything in scripts?

[2018-02-12 13:17] glebec commented on #116
@ix-xerri: The repo currently defaults to showing the `dev` branch, which is for an upcoming version of Husky. The `master` branch reflects what is currently available on npm. In the current version, hooks are placed in `scripts` and do not use a hyphen, e.g. `precommit` (not `pre-commit`).

[2018-02-12 15:17] ix-xerri commented on #116
I'm using `0.15.0-rc.7` which is the latest tag on the dev branch

[2018-02-12 15:22] ix-xerri commented on #116
In fact. That was the only thing left. Adding `--bailOnLintError true` did the trick! Thanks @glebec.

[2018-02-13 16:34] cdeutsch commented on #171
I ended up renaming the existing hooks I was using by adding `-orig` to the name.

Ex. `pre-commit` -> `pre-commit-orig`

Then re-ran the husky install
[code]

Then added the following to the top of `pre-commit`, etc

[code]

[2018-02-13 18:01] JoshuaKGoldberg opened #241 "Support Node 9?"
[code]

[2018-02-13 18:17] JoshuaKGoldberg commented on #241
Ha, PEBKAC. Corrupt node installation.

[2018-02-13 18:17] #241 closed

[2018-02-16 03:15] #237 closed

[2018-02-16 03:15] #232 closed

[2018-02-16 03:16] #231 closed

[2018-02-18 00:15] #228 closed

[2018-02-18 00:57] atompkins commented on #202
I believe I am seeing the same problem

[2018-02-20 09:54] jnv opened #242 "Husky fails when .git/hooks directory is missing"
This was already reported in https://github.com/typicode/husky/issues/195#issuecomment-349750514. I am opening this issue since one of our developers ran into the same problem. In some cases (user action, modified repository template) folder `.git/hooks` may be missing, which causes hooks installation to fail with ENOENT error. Steps to reproduce:

[code]

While this error is harmless, some devs m

[2018-02-22 10:26] Siyfion opened #243 "Husky + GitKraken = 💥"
So after adding Husky to my local project, all my local commits are now taking an eternity when using GitKraken. Note, I believe this issue is _specific_ to GitKraken, so it's unlikely that it's a Husky issue per-se, but it might be nice if the two teams had an issue in which to discuss getting it fixed?

I've spoken to the GitKraken team and given them as much information as possible (including g

[2018-02-28 17:49] travi opened #245 "shareable config"
have you considered a shareable config? i find myself using the same scripts across almost all of my node projects, so it would be great to be able to extend a config that i publish as a node package as a starting point.

ideally, support would look similar to those available from
* [eslint](https://eslint.org/docs/developer-guide/shareable-configs)
* [commitlint](https://marionebl.github.io/commi

[2018-02-28 20:31] typicode commented on #245
Hi @travi,

I like the idea :) (I think there's another issue suggesting something similar)
What kind of hook would you share in your team? I'd like to understand what a real world example would look like.

[2018-02-28 22:22] travi commented on #245
sorry about missing an existing issue. i guess my search terms missed the mark.

as far as the hooks we would want to share, we are pretty solid on `commitmsg` and `precommit`:
* `commitmsg` is simply `commitlint -e`, which tells commitlint to look for its config in the project (allows us to vary the config per project as needed)
* `precommit` is basically just `npm t`, but we've inconsistently st

[2018-03-03 13:54] dgrusemann commented on #186
I ended up using https://github.com/kevinoid/git-branch-is.

`"prepush": "if git-branch-is master; then yarn test; fi"`

[2018-03-04 05:51] ryanbas21 commented on #222
@typicode node was installed via node installer.

using husky@next worked. Thanks.

[2018-03-04 14:54] typicode commented on #222
Great :) thanks for the update

[2018-03-04 14:54] #222 closed

[2018-03-05 11:50] fernandopasik commented on #195
Hi @typicode, is it much far the final release of 0.15 ? Thanks for the hard work!!

[2018-03-05 17:05] filipekiss opened #246 "Problems with path when running scripts from hook"
Hey @typicode, first of all thank you for Husky! It's a great tool!

I'm having trouble with something and I've tried a few different solutions but wasn't able to pinpoint the culprit just yet. I've managed to work around the problem but the solution is far from optimal.

Here's the deal: I've added a few hooks in a legacy code base.

My current tree is as follows (reduced for brevity sake):

[cod

[2018-03-06 01:05] bcowgill opened #247 "husky is using some strange node version when running hooks"
First problem, husky is using npm when I'm using yarn but that's not a big problem.
However it's not picking up my current version of node configured with nvm.

$ /usr/bin/nodejs --version
v0.10.25
$ /usr/bin/node --version
v0.10.25
$ which node
/home/me/.nvm/versions/node/v6.11.4/bin/node
$ node --version
v6.11.4

Which is all very nice IF I run the precommit target manually:

$ yarn precommit
ya

[2018-03-06 01:19] bcowgill commented on #247
I added something to show which version of node it is picking up
husky > (node /home/me/.nvm/versions/node/v4.4.7/bin/node)

$ cat /home/me/.nvmrc
v6.11.4
$ nvm --version
0.31.4

[2018-03-06 01:24] bcowgill commented on #247
AHA, you use a project local .nvmrc file which I didn't have copying my ~/.nvmrc to the project dir made it work.

Might be an idea

[2018-03-06 14:09] philwolstenholme commented on #81
I had this issue because a fork of Husky had been installed from one of my dependencies (Yorkie, from vue-cli), and had written to my `.git/hooks` directory, so Husky hadn't been able to set itself up.

[2018-03-07 17:52] tomdavidson opened #248 "missing something with prepush hook"
This is most like a git thing rather than a husky thing but huskey is the use case so I amhoping to get further direction. I have the following script invoked on a prepush hook with huskey:

[code]

Everytime the push is rejected until I merge with git pull, but I am in my own branch, there are no other contribs. The merge shows no changes.

[code]

[2018-03-07 19:44] dmwelch commented on #247
IMO, Husky should respect the `engines.node` version in **package.json** (who wants to specify the node version in separate files!?!).  Use this to fix:
`
load_nvm () {
  ...
  # If nvm has been loaded correctly, use project .nvmrc
  command_exists nvm && [ -f .nvmrc ]  #<--- remove the "&& nvm use" bit here
}
...
export PATH=$PATH:/usr/local/bin:/usr/local
load_nvm BREW_NVM_DIR /usr/local/opt/nvm

[2018-03-07 19:47] dmwelch commented on #247
@typicode ^^^ I'm looking at how to make a pull request with this fix, but the code is difficult to follow.  Any hints for new submitters on where to start?

[2018-03-08 12:37] foisonocean opened #249 "support interactive prompt in git hooks"
My problem is almost the same as [this](https://stackoverflow.com/questions/3417896/how-do-i-prompt-the-user-from-within-a-commit-msg-hook), could you consider support that?

[2018-03-09 17:19] timotgl commented on #206
Another, although radical option is to move the files in `.git/hooks` out of this directory, if you never want to run them for the current repo and can't be bothered to add `--no-verify` to every git command. The hooks come back if husky is reinstalled though.

[2018-03-09 17:30] dshepsis opened #250 "Windows GitHub Desktop Commit Failed"
I'm unable to commit with a pre-commmit hook with Husky on GitHub Desktop on Windows. When I try to commit, I get a "Commit Failed" message and this file is produced:

[GitHubLog.txt](https://github.com/typicode/husky/files/1797796/GitHubLog.txt)

(I've modified it slightly to remove directory names.)

I am, however, able to commit just fine using the posh~git / PowerShell shell, using `git add .`

[2018-03-09 22:22] weslexcore commented on #248
This means that your remote branch (what you have already pushed) is ahead (has some commits that you do not have locally).

If you want to take what you have locally and overwrite the remote you can pass the `-f` flag to force the push but fair warning - there is no retrieving your information after a force push so be sure that you  want your local to overwrite.

Otherwise, do a `git pull <remote

[2018-03-09 22:24] weslexcore commented on #245
+1 would be beneficial to have a `.husky` file that I can configure in outside of `package.json` - I use husky across multiple projects and also help teams with setting their projects up and being able to point them to a config file / just use my config file would be beneficial.

[2018-03-09 22:28] tomdavidson commented on #248
Hello @weslexcore right, but what is confusing is that the remote is not adhead. The only push to the branch is me with husky. No one else is on the branch. Doing a pull first creates a merge commit  of nothing for every time I want to push.

What I had to do is just add the build task to my precommit hook and get rid of the prepush hook - which is slow and fairly annoying.

Im sure this is user e

[2018-03-12 19:10] romariolopezc opened #252 "Can't run hooks"
`.git/hooks/pre-commit: line 6: node_modules/run-node/run-node: No such file or directory`

I used `yarn` and `npm install`

I have node 8.5

I'm using the stable version

[2018-03-12 20:13] typicode commented on #252
Hi @romariolopezc,

Hmm, that's strange, are your `package.json` and `.git` directory at the same level? Is `run-node` installed in `node_modules`? Is there a `node_modules/.bin/run-node` file? Are you using husky `v0.15.0-rc.8`?

If you try `rm -rf node_modules && npm install (or yarn)`, is itbetter?

[2018-03-12 20:35] typicode commented on #247
@bcowgill hmm if you're using a GUI and don't have a `.nvmrc` file, it should use the default Node version:
[code]

@dmwelch thanks for the help, great approach :) personally I'd rather leave this to node version managers. There's a thread in nvm discussing this https://github.com/creationix/nvm/issues/651

Also next version of husky won't come out of the box with `nvm` support.

[2018-03-12 20:46] typicode commented on #246
Hi @filipekiss,

There seem to be 2 versions of husky running, `v0.14` and `v0.15` (which uses execa).

I would try using only [`v0.15`](https://github.com/typicode/husky) and have hooks defined just in the root `package.json`, see:
https://github.com/typicode/husky/blob/dev/docs.md#multi-package-repository-monorepo

Installing husky in multiple sub `package.json` creates conflicts as each will ov

[2018-03-12 20:56] typicode commented on #243
Hi @Siyfion,

Hmm can't seem to reproduce, but I'm having a very simple hook:

[code]

It takes 1 or 2 seconds to get the pre-commit failed message.
I've tried with GitKraken for Windows and husky `v0.15`.

Is it taking less time when you're commiting from the command-line?

[2018-03-12 20:58] filipekiss commented on #246
Hey @typicode, I looked around my `package.json` and found just the `v0.14.3` listed as a dependency. I'll update it to `v.015` and see if that fixes my problem (the `execa` I mentioned in my post is actually the one I use to run a few tasks inside the hooks)

[2018-03-12 21:25] Siyfion commented on #243
Yep, way less time in both the CLI or when using Tower.

[2018-03-12 21:26] Siyfion commented on #243
Oops didn’t mean to close

[2018-03-12 21:27] Siyfion commented on #243
Oops, didn't mean to close.

[2018-03-12 21:39] filipekiss commented on #246
I guess it has something to do on how execa is run inside the hook.

Using `git rev-parse --git-dir` worked as expected, so I'm going with that for now, but I'll keep trying to figure out why this happens and I'll let you know if I ever find the culprit!

Thank you!

[2018-03-12 21:39] #246 closed

[2018-03-12 22:22] typicode commented on #242
Hi @jnv,

Just published a new version (`v0.15.0-rc.9`) that doesn't fail and displays a warning message. Thanks for the suggestion :)

[2018-03-12 22:22] #242 closed

[2018-03-12 23:31] romariolopezc commented on #252
Yes, they are in the same level. And No there is no `run-node` in `node_modules` nor `node_modules/.bin`.

And I'm using `"husky": "^0.14.3",`

[2018-03-12 23:38] typicode commented on #252
It seems `v0.15` hooks were installed at some point, as `v0.15` relies on `run-node` but `v0.14` doesn't (you can see the version in `.git/hooks/pre-commit).

I would suggest upgrading to `v0.15` if possible or delete existing hooks and reinstall them with `v0.14`.

[2018-03-12 23:55] romariolopezc commented on #252
Did `rm -rf .git/hooks` then yarn. Everything working as expected!

[2018-03-12 23:55] #252 closed

[2018-03-14 16:22] dshepsis commented on #250
I am using GitHub Desktop `Chocolate-Covered Yaks (3.3.4.0) 50415df` according to the "About" option. Maybe there's an issue with the difference between the versions you and I are running?

I don't recall exactly how I installed node, but I'm fairly certain it was through the nodejs.org website, like you suggested.

Running `node -v` in `cmd.exe` yields `v8.9.4`.

The issue still persists on my en

[2018-03-15 13:57] Graham42 commented on #130
This looks similar to https://github.com/typicode/husky/issues/171 ?

[2018-03-17 01:24] #93 closed

[2018-03-17 01:32] typicode commented on #250
Hmm not sure what the differences are between:
https://desktop.github.com/release-notes/ (most recent Feb 2018)
https://desktop.github.com/release-notes/windows/ (most recent Jan 2017)

Maybe it would be worth trying reinstalling GitHub desktop?

[2018-03-18 04:00] noldors commented on #250
In ubuntu on version 0.15.0-rc.10 git commit has no effect too.
But on 0.15.0-rc.9 works fine.

[2018-03-18 16:43] typicode commented on #250
@noldors rc.11 should fix that, thank you for the heads up!

[2018-03-18 17:56] antoniovj1 opened #254 "Broken pre-push Husky 0.15.0-rc.11"
After using Husky I get the next error:

[code]
Anyone knows how to solve this?

Thanks!!

[2018-03-18 18:32] typicode commented on #254
My bad, I think stdin support requires more testing, please use `rc.9` for the moment (I've changed also `next` tag to point to `rc.9`, until a new version fixes it)

[2018-03-18 19:38] typicode commented on #254
I've published a fix `v0.15.0-rc.12` under `husky@next` tag. I hope this time there won't be any problem :sweat_smile:

I've upgraded lowdb to use it and was able to commit and push from the terminal.
https://github.com/typicode/lowdb/blob/master/package.json#L61

Let me know, if you still have issues :)

[2018-03-19 10:54] ozum opened #255 "[0.15.0-rc.12] Can't find .git/hooks directory."
Hi,

Husky: `0.15.0-rc.12`
MacOS: `10.13.3`
Node: `9.8.0` (Standard installation)
NPM: `5.6.0`

Some freshly cloned repos are missing `.git/hooks` directory ([see here](https://stackoverflow.com/questions/33680880/why-is-git-hooks-sometimes-missing-in-cloned-repos)).

As a result when I clone a repo and `npm install` it, husky warns me:

`Can't find .git/hooks directory. You can try to fix this er

[2018-03-19 11:21] antoniovj1 commented on #254
Now works like a charm! Thanks!!

[2018-03-19 11:21] #254 closed

[2018-03-19 17:02] dperyel commented on #108
Try to add $GIT_PARAMS into your prepush script `git lfs pre-push $GIT_PARAMS`.
Or make some prepush.sh script with `command -v git-lfs >/dev/null && git lfs pre-push "$@"` and call it from your package.json prepush: `sh ./prepush.sh $GIT_PARAMS`

[2018-03-19 20:56] typicode commented on #255
Hi @ozum,

Thanks for the details. Personally, I've not experienced cloning a repo and not getting `.git/hooks`. Which Git client are you using?

My main concern with husky creating `hooks` dir is about rights, as sometimes people use `sudo npm install`. Maybe there wouldn't be any issue, and I'm too cautious here, but to avoid any problem, husky just outputs a warning message.

[2018-03-19 23:48] torinthiel opened #256 "Gui tools broken"
Currently `git gui` (and most probably many other gui tools) do not work with new husky (0.15.0-rc.12).

Trying to launch such tool in the background (`git gui&`) causes the tool to be stopped immediately (as if running without '&' and hitting ^Z). When the tool is in the foreground (which makes no sense for a gui tool),  it's needed to press return to e.g. commit anything.

My guess at the reason

[2018-03-20 00:58] typicode commented on #256
Hi @torinthiel,

Thanks a lot for the heads up and sorry for the issue. I've rolled back the `next` tag (again) to `v0.15.0.rc-9`.

As you pointed out, a better approach would be to have `read` only in hooks that makes use of stdin. I'll work on that tomorrow.

[2018-03-20 03:39] adamyi commented on #196
same here with node 6.13.1 and npm 3.10.10 on debian

[2018-03-20 07:08] ozum commented on #255
I didn't realize it until I encountered a broken code published. Part of my release workflow, I was assuming my tests are triggered via husky.

I'm using both git command line and GUI (source tree). To test this, I created an empty repo, assured it have `.git/hooks`,  then pushed it. Later I cloned it elsewhere and it does not have `.git/hooks`.

People may forget manually creating `.git/hooks` af

[2018-03-20 11:41] einavk commented on #195
Hi,
I tried moving from husky stable version to the rc9 version.
When I did, it did not install me the hooks properly.
Turn out the issue is this:
Expecting package.json to be at the same level as .git, skipping Git hooks installation.
My project has .git on the parent directory, and this cannot be changed.
Why is this expectation set?
Can this be overridden somehow?
Thanks

[2018-03-23 08:41] use-strict commented on #151
Same problem here. I'm unsure why `run-node` is needed at all. I'd expect what's written in the hook file to be the exact command that I have in `.huskyrc` hooks section.

[2018-03-23 23:27] gerges-zz opened #258 "Feature request: enabled option, with opt in/out"
We've got quite a large dev team that's split on having/not having git hooks. I noticed the opt out env variable on install, but it's a large ask for someone to run that every time they install.

It would be awesome to have a model where we can still use `husky`, but require devs to opt-in or out via a git-ignored file, so it can be scoped to a given repo (imagine `echo true > .husky-enabled`).

I

[2018-03-28 07:27] basbebe opened #259 "post-merge: run only if branch 'master' was merged"
I would like to run a `post-merge` hook, but only if the branch `master` was one of the branches involved in the merge.
Is it possible to include this in a husky script call or would I have to write an external script for that?

[2018-03-29 08:19] jforjava1981 opened #260 "Husky creates all types of hooks even if I have only specified precommit hook in package.json"
Husky is creating all types of git hook scripts by default even if I have just specified precommit hooks in scripts tag of my package.json. Is there a way to disable and only create script which has been specified ?

relevant part of my package.json looks like this :
...

scripts:{
...
precommit : "node runeslint.js"

}

where runeslint.js is my custom node JS script file.

In my .git/hooks direct

[2018-03-29 08:33] alexeyten commented on #260
What would you expect if you later add hook script to package.json?

[2018-03-29 15:32] jforjava1981 opened #261 "Allow relative path in husky generated script using package.json config param"
We have a project structure where we host multiple angularjs projects modules with their own package.json files. All these sub projects are part of a maven module project. We cannot have package.json in main project and cannot have npm install modules in that folder.
Also every angular subproject will need to run husky precommit hook for it's own files.
However when we install npm modules in each

[2018-03-29 15:34] jforjava1981 commented on #260
I think installing every type of hook by default is a bit overkill if we are never going to need many of them. Cant we have this enabled based on option rather than having it as default?

[2018-03-29 20:53] dshepsis commented on #250
I refactored the script I was using as a pre-commit script. Previously, it would directly alter one of the (potentially) staged files, which was causing issues with in GitHub desktop and posh Git. I've since learned that you're not meant to alter files during the pre-commit hook. The reason I gather for this is because it would result in alterations being committed which have never been reviewed b

[2018-04-02 09:20] dimitardanailov opened #262 "Husky verion (0.15.0-rc.13) doesn't work properly on Windows."
Good Morning Guys,

I've been working on Windows and git commit message doesn't work properly.

My package.json
[code]

Screenshot:
![husky](https://user-images.githubusercontent.com/2182018/38191183-5bd60f42-3670-11e8-9402-9850b390ab8b.PNG)

Node version is: 8.9.1

Information about my Windows:
![windows](https://user-images.githubusercontent.com/2182018/38191298-d9a9debc-3670-11e8-876a-a02799c55

[2018-04-02 17:49] alanbsmith commented on #248
It might be that when you `amend`, you create a new sha1 for the commit (even if you aren't editing the message). Git is saying, "Hey, what you have locally doesn't match what's pushed up on that branch." @weslexcore is correct that you would need to force push or add a new commit on top and then push.

[2018-04-02 18:23] nloding commented on #243
I'm using Husky with commitlint and have the same issues with GitKraken. Additionally, GitKraken stops pushing to the remote. I've tried 0.14 and 0.15.0-rc.13, both have the same issue. I'm a GitKraken Pro user and have an active ticket with GitKraken regarding this. Hopefully they can issue a fix soon - I'm guessing it's an issue with GitKraken parsing the command output.

[2018-04-03 07:50] batjko opened #263 "pre-push not working"
Husky version: **v0.15.-rc.8**

When I define a `pre-push` hook to trigger tests and some other stuff, it never seems to kick off when I push.
However, if I define the exact same thing as a `pre-commit` hook, commits do trigger the hook.

i.e.:
[code]

Any ideas?

[2018-04-03 08:02] batjko commented on #263
Never mind.
The issue was that we already had a pre-push hook (in the form of a symbolic link) from before we started to use husky.
This seems to have prevented husky from installing its own `pre-push`, albeit without any error or warning, as far as I can see.

An improvement would be to provide a useful error output in such cases. But I'll close this off for now.
Thanks.

[2018-04-03 08:02] #263 closed

[2018-04-04 18:58] travi commented on #245
in case it is helpful, i ran across a library called [ex-config](https://github.com/chrisblossom/ex-config) that is meant to work with `cosmicconfig` to support extension of other config. i havent looked very deep to understand if it would support what i mentioned above, but figured it was worth at least including here.

[2018-04-05 12:54] Pokom commented on #262
While I'm not a contributor to Husky, this doesn't appear to be an issue with husky, but an issue inherent with running npm scripts on Windows. My recommendation(and verified on my end) is to alter your commit-msg script to:

[code]

as long as commitlint is installed locally, it'll run with no problem.

[2018-04-05 14:30] otakustay commented on #245
In my case we provide a `fe-tools` package for all frontend projects, I'm trying to let this package automatically install husky hooks for project, however after `npm install fe-tools` the project looks like:

[code]

Although I can use a `postinstall` npm script to modify root `package.json` and add `husky` section, I don't know how to initialize git hooks for project, and how git hooks can locat

[2018-04-05 20:40] dimitardanailov commented on #262
@Pokom

I prefer to use local packages for my scripts has a lot of advantages.

[2018-04-06 13:39] al-the-x opened #264 "Symlinked `husky` -- e.g. `npm link husky` -- does not run hooks"
I use `husky` to manage my git-hooks, but other developers on my team do not and prefer other methods of invoking and sharing hook scripts. I therefore install `husky` globally and use `npm link` to include it in projects.

When I do so, the `install.js` script is not run, so I run it manually with `node node_modules/husky/bin/install.js`. It would be nice if `husky` had a `postlink` hook that wou

[2018-04-07 03:32] rcalabro commented on #108
+1

[2018-04-07 11:40] magicdawn opened #265 "hook git command arg error"
husky@next

[code]

results error like `pathspec 'lib/**/*.js' did not match any files`
![image](https://user-images.githubusercontent.com/4067115/38454497-1dd46d72-3a9b-11e8-90eb-e301a0d34e9d.png)

The code locates here https://github.com/magicdawn/node-huaban
I have add `--no-verify` to bypass the hook

[2018-04-07 16:42] magicdawn commented on #265
looks like using `lib/*.js` is OK, just as git add documents says
https://git-scm.com/docs/git-add#_examples

[2018-04-07 16:42] #265 closed

[2018-04-09 20:02] typicode commented on #250
Great, thanksfor the update and details :)

[2018-04-09 20:02] #250 closed

[2018-04-10 15:53] sandangel opened #267 "error on 0.15.0-rc.13"
[code]

package.json

[code]

node 8.11.1, yarn 1.5.1

[2018-04-10 19:19] typicode commented on #267
Hi @sandangel,

Thanks for the report and help testing :) Except if I'm missing something, husky doesn't have a dependency to `any-observable` in [`package-lock.json`](https://github.com/typicode/husky/blob/dev/package-lock.json). Not sure if it relates to husky then.

Do you know if it's the pre-commit or commit-msg that fails?

Also do you have this error with husky v0.14 (you would need to move

[2018-04-10 19:30] typicode commented on #262
thanks @Pokom

@dimitardanailov agree with you. In this case, if you just put `"commit-msg": "commitlint -e $GIT_PARAMS"` it will run the local package `./node_modules/.bin/commitlint` and not the global one. It's similar to npm behavior wich favors locally installed packages rather than global ones.

[2018-04-10 22:39] sandangel commented on #267
@typicode HI, thanks for reply. I have this error when using husky 0.14

[code]

[code]

Both throw error in precommit hook

[2018-04-10 23:35] typicode commented on #267
Can you try manually removing `.git/hooks/pre-commit`, it seems to be still on `v0.15` and re-run `npm install husky --save-dev`?

[2018-04-11 00:48] sandangel commented on #267
hi @typicode
I have debug the process, it turns out that it's a lint-staged issue.

[code]

Thank you for your useful information

[2018-04-11 00:48] #267 closed

[2018-04-11 01:15] sandangel opened #268 "husky 1.0.0-rc.1: change to HUSKY_GIT_PARAMS break commitlint"
commitlint work well with 0.15.0-rc.13, but when upgrade to 1.0.0-rc.1, I have this error

[code]

[2018-04-11 11:40] typicode commented on #268
Thanks for the report, could you try with:

[code]

2018-04-11 3:15 GMT+02:00 San Nguyen <notifications@github.com>:

[2018-04-11 11:47] sandangel commented on #268
Hi, I have tried with -e $HUSKY_GIT_PARAMS, It worked as expected. I think you should document this in the README.

[2018-04-11 12:36] typicode commented on #268
My bad, thought I did but apparently only in CHANGELOG.md, will update docs.md as well. Thanks.

[2018-04-11 13:28] pgosset commented on #80
Any news?

[2018-04-11 16:28] typicode commented on #240
Hi @sh7dm, I'd say it works as expected as the test seems to fail `npm ERR! Test failed` and husky displays the correct message and makes the commit fail.

[2018-04-11 16:28] #240 closed

[2018-04-11 16:40] typicode commented on #258
Hi @gerges

Thanks for the feedback. That could make sense also for GUI clients, but no plans for this for the moment.

That said, currently you could take advantage of the fact that husky doesn't create `hooks` directory and if there's no `hooks` directory it skips installations.

So `rm -rf .git/hooks` or `mv .git/hooks .git/hooks-backup` would be equivalent to disabling husky locally (it's a wo

[2018-04-11 16:53] typicode commented on #48
Closing as next version of husky will use real hook names (`pre-commit`, `pre-push`, ...), thanks again for the feedback :)